<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>40605_shouji05.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>40605_shouji04.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>40605_shouji03.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>40605_shouji02.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>40605_shouji01.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>40605_Skill1_Hit0.png</string>
			<key>realTextureFileName</key>
			<string>40605_Skill1_Hit0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>