<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arena_light_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>act1_effect_cameraray_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>act1_effect_lightning00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1121},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>act1_effect_lightning01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{58,256}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{58,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>act1_effect_lightning02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{54,256}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{54,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>act1_effect_lightning03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{58,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{58,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>arena_Glow_SheGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,695},{146,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,135}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>arena_Heng_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1124},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>arena_VS_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,267},{345,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,220}}</string>
                <key>sourceSize</key>
                <string>{345,220}</string>
            </dict>
            <key>arena_XianTiao_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,209},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>arena_addbox_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1429},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>arena_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>arena_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,523},{170,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,149}}</string>
                <key>sourceSize</key>
                <string>{170,149}</string>
            </dict>
            <key>arena_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1124},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>arena_chestbox_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>arena_closebox_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,964},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>arena_down_lightline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,14}}</string>
                <key>sourceSize</key>
                <string>{917,14}</string>
            </dict>
            <key>arena_downbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1068},{32,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,181}}</string>
                <key>sourceSize</key>
                <string>{32,181}</string>
            </dict>
            <key>arena_exploadingbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,121},{187,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,16}}</string>
                <key>sourceSize</key>
                <string>{187,16}</string>
            </dict>
            <key>arena_exploadingbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,18},{189,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,18}}</string>
                <key>sourceSize</key>
                <string>{189,18}</string>
            </dict>
            <key>arena_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1096},{245,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,126}}</string>
                <key>sourceSize</key>
                <string>{245,126}</string>
            </dict>
            <key>arena_headbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1353},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>arena_headbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,862},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>arena_itembar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{116,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,189}}</string>
                <key>sourceSize</key>
                <string>{116,189}</string>
            </dict>
            <key>arena_itembg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,828},{294,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,310}}</string>
                <key>sourceSize</key>
                <string>{294,310}</string>
            </dict>
            <key>arena_itembg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{294,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,311}}</string>
                <key>sourceSize</key>
                <string>{294,311}</string>
            </dict>
            <key>arena_itembg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,532},{294,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,311}}</string>
                <key>sourceSize</key>
                <string>{294,311}</string>
            </dict>
            <key>arena_lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{158,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,512}}</string>
                <key>sourceSize</key>
                <string>{160,512}</string>
            </dict>
            <key>arena_loadingbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,188},{363,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,65}}</string>
                <key>sourceSize</key>
                <string>{363,65}</string>
            </dict>
            <key>arena_loadingbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,121},{363,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,65}}</string>
                <key>sourceSize</key>
                <string>{363,65}</string>
            </dict>
            <key>arena_loadingbar_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,41},{377,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,78}}</string>
                <key>sourceSize</key>
                <string>{377,78}</string>
            </dict>
            <key>arena_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,776},{113,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,134}}</string>
                <key>sourceSize</key>
                <string>{113,134}</string>
            </dict>
            <key>arena_maching_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,91},{226,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,93}}</string>
                <key>sourceSize</key>
                <string>{226,93}</string>
            </dict>
            <key>arena_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,938},{201,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,188}}</string>
                <key>sourceSize</key>
                <string>{201,188}</string>
            </dict>
            <key>arena_mathing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,402},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>arena_mathing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{897,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{897,21}}</string>
                <key>sourceSize</key>
                <string>{897,21}</string>
            </dict>
            <key>arena_mathing_linelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,91},{158,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,3}}</string>
                <key>sourceSize</key>
                <string>{158,3}</string>
            </dict>
            <key>arena_namebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,235},{29,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,106}}</string>
                <key>sourceSize</key>
                <string>{29,106}</string>
            </dict>
            <key>arena_nullbox_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,832},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>arena_openbox_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1001},{82,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,47}}</string>
                <key>sourceSize</key>
                <string>{82,47}</string>
            </dict>
            <key>arena_openbox_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,644},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>arena_openbox_tipsbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,938},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>arena_taskflag_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,773},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>arena_taskflag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,684},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>arena_tipspoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1163},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>arena_tipstextbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,201},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>arena_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,343},{140,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,23}}</string>
                <key>sourceSize</key>
                <string>{140,23}</string>
            </dict>
            <key>arena_titlebar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1294},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>arena_titlebar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1204},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>arena_titlebar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,891},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>arena_tlv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1235},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>arena_tlv_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,319},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>arena_tlv_card_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,489},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>arena_tlv_close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1124},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>arena_tlv_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,489},{330,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,41}}</string>
                <key>sourceSize</key>
                <string>{330,41}</string>
            </dict>
            <key>arena_topbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,540},{142,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,68}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
            <key>arena_userbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1085},{46,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,117}}</string>
                <key>sourceSize</key>
                <string>{46,117}</string>
            </dict>
            <key>arena_userbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{116,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,113}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>arenna_tlv_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,255},{356,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,10}}</string>
                <key>sourceSize</key>
                <string>{356,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d066a3998a0e7125c809a26b3e124a19$</string>
            <key>textureFileName</key>
            <string>arena.png</string>
        </dict>
    </dict>
</plist>
