<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_newbie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>cardintro_10200a.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,340},{190,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,111}}</string>
                <key>sourceSize</key>
                <string>{190,111}</string>
            </dict>
            <key>cardintro_10200b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{317,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,196}}</string>
                <key>sourceSize</key>
                <string>{317,196}</string>
            </dict>
            <key>cardintro_10300a.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,439},{167,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,186}}</string>
                <key>sourceSize</key>
                <string>{167,186}</string>
            </dict>
            <key>cardintro_10300b.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{246,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,285}}</string>
                <key>sourceSize</key>
                <string>{246,285}</string>
            </dict>
            <key>cardintro_10900.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,259}}</string>
                <key>sourceSize</key>
                <string>{401,259}</string>
            </dict>
            <key>cardintro_10900a.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,349},{73,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
            <key>cardintro_10900b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,259}}</string>
                <key>sourceSize</key>
                <string>{401,259}</string>
            </dict>
            <key>cardintro_30300a.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,390},{137,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,148}}</string>
                <key>sourceSize</key>
                <string>{137,148}</string>
            </dict>
            <key>cardintro_30300b.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{345,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,298}}</string>
                <key>sourceSize</key>
                <string>{345,298}</string>
            </dict>
            <key>cardintro_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,334},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>cardintro_bar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,302},{153,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,86}}</string>
                <key>sourceSize</key>
                <string>{153,86}</string>
            </dict>
            <key>cardintro_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fight_mask_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,512},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fight_newbie_Gem1_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,453},{57,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>fight_newbie_Gem1_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,22},{59,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,4}}</string>
                <key>sourceSize</key>
                <string>{59,10}</string>
            </dict>
            <key>fight_newbie_Gem1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_Gem1_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,340},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>fight_newbie_Gem2_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,672},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_hero_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,608},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,608},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,606},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,542},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,595},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask5.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,542},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_mask6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,529},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_role_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,540},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>fight_newbie_skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,442},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>guide_namebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,289},{219,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,49}}</string>
                <key>sourceSize</key>
                <string>{219,49}</string>
            </dict>
            <key>guide_summon_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,453},{133,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,87}}</string>
                <key>sourceSize</key>
                <string>{133,87}</string>
            </dict>
            <key>guide_talk_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,373},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>guide_talk_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,289},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>guide_talk_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,302},{192,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,135}}</string>
                <key>sourceSize</key>
                <string>{192,135}</string>
            </dict>
            <key>guide_talk_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,263},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>guide_tips_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,22},{234,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,3}}</string>
                <key>sourceSize</key>
                <string>{234,3}</string>
            </dict>
            <key>guide_tipsbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,451},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardintro.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f6ea9919798d3297ceed952b8dd4650$</string>
            <key>textureFileName</key>
            <string>cardintro.png</string>
        </dict>
    </dict>
</plist>
