<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summoner_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,582},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,428},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1200.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1300.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1400.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
            <key>summoner_1600.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,424}}</string>
                <key>sourceSize</key>
                <string>{288,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_summoner.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0a497660358e9c9a0d98572384d90c$</string>
            <key>textureFileName</key>
            <string>s_summoner.png</string>
        </dict>
    </dict>
</plist>
