<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scenefire_f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{101,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,71}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,659},{101,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,71}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,587},{101,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{101,73}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{101,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{101,75}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{101,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,77}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,578},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,536},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,506},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,311},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,208},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_f_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,105},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>scenefire_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,46}}</string>
                <key>sourceSize</key>
                <string>{153,46}</string>
            </dict>
            <key>scenefire_ml_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,218},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,146},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,146},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,74},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,74},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,218},{134,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_ml_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>scenefire_mr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,506},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,434},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,434},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,362},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,362},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,290},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,464},{124,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,392},{124,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>scenefire_mr_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,290},{126,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scenefire.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57123de01b19410a5c9cd25e1e6e8f9f$</string>
            <key>textureFileName</key>
            <string>scenefire.png</string>
        </dict>
    </dict>
</plist>
