<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Village_cao07_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1193},{129,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>Village_cao07_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,123},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>Village_cao07_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1008},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>Village_cao07_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,800},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>Village_cao07_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1324},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Village_cao07_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1268},{325,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,197}}</string>
                <key>sourceSize</key>
                <string>{325,197}</string>
            </dict>
            <key>Village_cao07_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1008},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>Village_cao07_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,887},{79,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,104}}</string>
                <key>sourceSize</key>
                <string>{79,104}</string>
            </dict>
            <key>Village_cao07_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,44},{61,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>Village_cao07_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1008},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Village_cao07_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,709},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>Village_cao07_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,365},{337,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,225}}</string>
                <key>sourceSize</key>
                <string>{337,225}</string>
            </dict>
            <key>Village_cao07_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1008},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>Village_cao07_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1092},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>Village_cao07_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1092},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>Village_cao07_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,140},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>Village_cao07_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,704},{278,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,217}}</string>
                <key>sourceSize</key>
                <string>{278,217}</string>
            </dict>
            <key>village_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,140},{664,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,150}}</string>
                <key>sourceSize</key>
                <string>{664,150}</string>
            </dict>
            <key>village_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1160,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,614}}</string>
                <key>sourceSize</key>
                <string>{1160,614}</string>
            </dict>
            <key>village_bg021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,292},{1104,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1104,652}}</string>
                <key>sourceSize</key>
                <string>{1104,652}</string>
            </dict>
            <key>village_bg022.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,618},{472,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,551}}</string>
                <key>sourceSize</key>
                <string>{472,551}</string>
            </dict>
            <key>village_bg023.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1579},{462,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,652}}</string>
                <key>sourceSize</key>
                <string>{462,652}</string>
            </dict>
            <key>village_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{816,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,136}}</string>
                <key>sourceSize</key>
                <string>{816,136}</string>
            </dict>
            <key>village_cao01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2000},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>village_cao01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,968},{38,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,103}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>village_cao01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,2},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>village_cao01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1304},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>village_cao01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,1428},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>village_cao01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{121,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,128}}</string>
                <key>sourceSize</key>
                <string>{121,128}</string>
            </dict>
            <key>village_cao02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1190},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>village_cao02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,1523},{27,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,84}}</string>
                <key>sourceSize</key>
                <string>{27,84}</string>
            </dict>
            <key>village_cao02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,140},{34,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{34,74}</string>
            </dict>
            <key>village_cao02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1328},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>village_cao02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1192},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>village_cao03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1092},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>village_cao03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1324},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>village_cao03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1008},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>village_cao03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1398},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>village_cao04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1308},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>village_cao04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1190},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,47}}</string>
                <key>sourceSize</key>
                <string>{74,47}</string>
            </dict>
            <key>village_cao04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2000},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>village_cao04_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,224},{212,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,139}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>village_cao05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1083},{108,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>village_cao05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,618},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>village_cao05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1398},{141,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>village_cao05_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1304},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>village_cao05_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1191},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>village_cao05_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{340,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,289}}</string>
                <key>sourceSize</key>
                <string>{340,289}</string>
            </dict>
            <key>village_cao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{190,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,94}}</string>
                <key>sourceSize</key>
                <string>{190,94}</string>
            </dict>
            <key>village_fengche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1398},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>village_langan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1398},{309,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,179}}</string>
                <key>sourceSize</key>
                <string>{309,179}</string>
            </dict>
            <key>village_langan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1193},{42,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,133}}</string>
                <key>sourceSize</key>
                <string>{42,133}</string>
            </dict>
            <key>village_langan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1092},{273,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,133}}</string>
                <key>sourceSize</key>
                <string>{273,133}</string>
            </dict>
            <key>village_shitou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,984},{282,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,205}}</string>
                <key>sourceSize</key>
                <string>{282,205}</string>
            </dict>
            <key>yun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{400,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,78}}</string>
                <key>sourceSize</key>
                <string>{400,78}</string>
            </dict>
            <key>yun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1609},{389,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,80}}</string>
                <key>sourceSize</key>
                <string>{389,80}</string>
            </dict>
            <key>yun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,1268},{158,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,28}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>village_bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27147723bc5c8662341960e7d82a0478$</string>
            <key>textureFileName</key>
            <string>village_bg.png</string>
        </dict>
    </dict>
</plist>
