<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\Work\trunk-1.0.0\bin\summoner.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>F:\Work\trunk-1.0.0\bin</StartWorkingDirectory>
  </propertyGroup>
</Project>