<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_Eff_BuleGlow_.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,467},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_gift_GlowYellowX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{93,92}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{93,92}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,467},{153,164}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,164}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,312},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,312},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,157},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,157},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_Glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,595},{93,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,122}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_summon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3961376137e2cb8628816606b874d4d4$</string>
            <key>textureFileName</key>
            <string>card_summon.png</string>
        </dict>
    </dict>
</plist>
