<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{182,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,520},{166,69}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{166,69}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,311},{170,73}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{170,73}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,234},{174,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{174,75}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{178,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,77}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,88},{182,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{178,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,77}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue08.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,302},{174,75}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{174,75}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue09.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,383},{170,73}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{170,73}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level blue10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,520},{166,69}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{166,69}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>level golden01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{182,128}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{182,128}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden02.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,352},{166,140}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{166,140}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden03.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,303},{170,144}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,144}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden04.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,86},{174,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{174,146}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,152},{178,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,148}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{182,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,148}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,169},{178,130}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{178,130}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden08.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,167},{174,134}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{174,134}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden09.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,379},{170,136}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{170,136}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level golden10.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,462},{166,138}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{166,138}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>level purple01.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,449},{169,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{169,74}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple03.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,177},{173,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{173,76}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{177,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{177,80}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,83},{181,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{181,82}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple07.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{181,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{181,82}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,301},{177,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{177,80}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple09.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{173,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{173,76}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>level purple10.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,386},{169,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{169,74}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_levelaura.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ebb9e607ed76055d8237d12014b5219$</string>
            <key>textureFileName</key>
            <string>hero_levelaura.png</string>
        </dict>
    </dict>
</plist>
