<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QQGameCenter_Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{299,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,168}}</string>
                <key>sourceSize</key>
                <string>{299,168}</string>
            </dict>
            <key>QQGameCenter_DBimage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,398},{597,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,155}}</string>
                <key>sourceSize</key>
                <string>{597,155}</string>
            </dict>
            <key>QQGameCenter_DBimage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{597,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,155}}</string>
                <key>sourceSize</key>
                <string>{597,155}</string>
            </dict>
            <key>QQGameCenter_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{468,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,50}}</string>
                <key>sourceSize</key>
                <string>{468,50}</string>
            </dict>
            <key>QQGameCenter_awardbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{317,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,33}}</string>
                <key>sourceSize</key>
                <string>{317,33}</string>
            </dict>
            <key>QQGameCenter_linelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{299,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,26}}</string>
                <key>sourceSize</key>
                <string>{299,26}</string>
            </dict>
            <key>QQGameCenter_piaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,398},{67,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,275}}</string>
                <key>sourceSize</key>
                <string>{67,275}</string>
            </dict>
            <key>QQGameCenter_piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,398},{111,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,248}}</string>
                <key>sourceSize</key>
                <string>{111,248}</string>
            </dict>
            <key>QQGameCenter_titlebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{202,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,50}}</string>
                <key>sourceSize</key>
                <string>{202,50}</string>
            </dict>
            <key>Tencent_vip gotobutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,831},{155,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,32}}</string>
                <key>sourceSize</key>
                <string>{155,32}</string>
            </dict>
            <key>Tencent_vip_DBiamge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,398},{577,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,69}}</string>
                <key>sourceSize</key>
                <string>{577,69}</string>
            </dict>
            <key>Tencent_vip_DBimage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{827,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,55}}</string>
                <key>sourceSize</key>
                <string>{827,55}</string>
            </dict>
            <key>Tencent_vip_DBimage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{828,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,394}}</string>
                <key>sourceSize</key>
                <string>{828,394}</string>
            </dict>
            <key>Tencent_vip_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,829},{120,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,192}}</string>
                <key>sourceSize</key>
                <string>{120,192}</string>
            </dict>
            <key>Tencent_vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,398},{340,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,56}}</string>
                <key>sourceSize</key>
                <string>{340,56}</string>
            </dict>
            <key>Tencent_vip_topbutton_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
            <key>Tencent_vip_topbutton_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,675},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
            <key>tencent_Renewals_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,398},{227,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,55}}</string>
                <key>sourceSize</key>
                <string>{227,55}</string>
            </dict>
            <key>tencentvip_DBimage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{825,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,99}}</string>
                <key>sourceSize</key>
                <string>{825,99}</string>
            </dict>
            <key>tencentvip_awardbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,740},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>tencentvip_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,977},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tencent.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1382da8b14c2655a98d006f3fb5923e$</string>
            <key>textureFileName</key>
            <string>tencent.png</string>
        </dict>
    </dict>
</plist>
