<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,545},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,624},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,703},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,782},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,816},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,838},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,841},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,838},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,890},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_Eff_Smoke_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,890},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/Born_flag_GlowUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,2},{47,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,300}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,2},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,2},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,92},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,92},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,109},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,109},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,123},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,123},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_fazhen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,488},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_fazhen02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{293,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,117}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_fazhenRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,515},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,559},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,452},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,487},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,542},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,545},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,651},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,635},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,638},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,652},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,652},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,753},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,728},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,731},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,815},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne_Glow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,745},{160,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_Throne2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2},{293,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,103}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/SUN_ThronePointGlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,452},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/zhanqi01_wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,666},{171,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,56}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/zhanqi01_wood2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,2},{12,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,203}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/zhanqi01_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,816},{122,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,63}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,213},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,303},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,199},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,289},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,304},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,393},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_blue_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,483},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,182},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,182},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,272},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,290},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,379},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,469},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,485},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,573},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,663},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,272},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,306},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,362},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,362},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,452},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
			<key>ui_new/p_public/effect/sum_throne/image/flag_red_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,471},{86,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sum_throne.png</string>
			<key>realTextureFileName</key>
			<string>sum_throne.png</string>
			<key>size</key>
			<string>{1023,977}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>977</integer>
		</dict>
	</dict>
</plist>