<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_bg_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{900,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,185}}</string>
                <key>sourceSize</key>
                <string>{900,185}</string>
            </dict>
            <key>camp_bg_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,221}}</string>
                <key>sourceSize</key>
                <string>{1020,221}</string>
            </dict>
            <key>camp_bg_near.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{625,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,126}}</string>
                <key>sourceSize</key>
                <string>{625,126}</string>
            </dict>
            <key>camp_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,671},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>camp_fences1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,225},{191,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,106}}</string>
                <key>sourceSize</key>
                <string>{191,106}</string>
            </dict>
            <key>camp_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{625,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,317}}</string>
                <key>sourceSize</key>
                <string>{625,317}</string>
            </dict>
            <key>camp_pendant1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,989},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>camp_pendant2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,497},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>camp_pendant3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,671},{6,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,23}}</string>
                <key>sourceSize</key>
                <string>{6,23}</string>
            </dict>
            <key>camp_pendant4.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,775},{6,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,26}}</string>
                <key>sourceSize</key>
                <string>{6,26}</string>
            </dict>
            <key>camp_pendant5.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1016},{6,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,31}}</string>
                <key>sourceSize</key>
                <string>{6,31}</string>
            </dict>
            <key>camp_pendant6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{6,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,30}}</string>
                <key>sourceSize</key>
                <string>{6,30}</string>
            </dict>
            <key>camp_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{146,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,270}}</string>
                <key>sourceSize</key>
                <string>{146,270}</string>
            </dict>
            <key>camp_plants_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,989},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>camp_plants_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,989},{33,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>camp_plants_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,590},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>camp_plants_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,989},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>camp_sandbags.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,859},{163,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,76}}</string>
                <key>sourceSize</key>
                <string>{163,76}</string>
            </dict>
            <key>camp_shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,418},{77,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,37}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>camp_stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,545},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>camp_stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,418},{251,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,95}}</string>
                <key>sourceSize</key>
                <string>{251,95}</string>
            </dict>
            <key>camp_tents1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,412},{374,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,254}}</string>
                <key>sourceSize</key>
                <string>{374,254}</string>
            </dict>
            <key>camp_tents2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,859},{255,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,156}}</string>
                <key>sourceSize</key>
                <string>{255,156}</string>
            </dict>
            <key>camp_tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,788},{199,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,348}}</string>
                <key>sourceSize</key>
                <string>{199,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>camp_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee59636c60b8f76fb8cbfcf93a0df32$</string>
            <key>textureFileName</key>
            <string>camp_bg.png</string>
        </dict>
    </dict>
</plist>
