<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1002_iceray.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>304200_baozha.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>3/iceblock_s04.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>3/iceblock_s02.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>3/iceblock_s03.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>3/iceblock_s01.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>4/xngxing_01.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>587</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>4/xngxing_02.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>4/xngxing_03.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>4/xngxing_04.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>4/xngxing_05.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>503</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>4/xngxing_06.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>4/xngxing_07.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>3/iceblock.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>371</integer>
				<key>originalWidth</key>
				<integer>303</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d01.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d02.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d03.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d04.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>425</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d05.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d06.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2/iceblock_d07.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1002_iceboom_02.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>1002_iceboom_03.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>1002_iceboom_04.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>1002_icedimian.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>659</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>IceBlock0.png</string>
			<key>realTextureFileName</key>
			<string>IceBlock0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>