<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gemstone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,73}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{96,73}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{86,73}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{86,73}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{72,87}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{74,95}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{74,95}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,274},{74,73}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{74,73}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{80,77}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{80,77}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,159},{84,81}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{84,81}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,242},{76,79}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{76,79}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,110},{80,75}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{80,75}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,78},{86,79}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,79}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{76,71}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,71}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Gemstone_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,192},{80,77}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,77}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>JinBi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{60,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,386},{52,62}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,56},{52,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,349},{60,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,440},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,320},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,444},{64,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,386},{62,52}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{52,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>JinBi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,440},{48,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{48,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GemGoldIcon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3fd3b06a0f43cc60c196f68527181a$</string>
            <key>textureFileName</key>
            <string>GemGoldIcon.png</string>
        </dict>
    </dict>
</plist>
