<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,642},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bzlz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,198},{60,77}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{60,77}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,572},{80,103}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{80,103}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,474},{96,123}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{96,123}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,526},{114,137}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{114,137}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,378},{126,147}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{126,147}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,474},{134,153}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{134,153}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,506},{142,159}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,159}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,378},{146,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{146,163}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{150,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,165}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>bzlz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{150,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,165}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>forgingTieZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{232,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,130}}</string>
                <key>sourceSize</key>
                <string>{232,130}</string>
            </dict>
            <key>forging_TieChui.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,330},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>forging_dazaoxiaoguo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,164},{230,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{230,182}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>forging_dazaoxiaoguo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,134},{230,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,194}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>forging_dazaoxiaoguo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{230,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,194}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>forging_dazaoxiaoguo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{230,164}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{230,164}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>forging_dazaoxiaoguo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,198},{224,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{224,178}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>forging_dazaoxiaoguo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,348},{176,184}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,3},{176,184}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>guangmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>zhixianguangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,182}}</string>
                <key>sourceSize</key>
                <string>{257,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forging.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290ede1aa48cb06cafb07b2887a05657$</string>
            <key>textureFileName</key>
            <string>forging.png</string>
        </dict>
    </dict>
</plist>
