<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>holyplace_farground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,335}}</string>
                <key>sourceSize</key>
                <string>{1020,335}</string>
            </dict>
            <key>holyplace_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{628,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,256}}</string>
                <key>sourceSize</key>
                <string>{628,256}</string>
            </dict>
            <key>holyplace_flystone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,969},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>holyplace_flystone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,969},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>holyplace_flystone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>holyplace_nearstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,339},{345,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,117}}</string>
                <key>sourceSize</key>
                <string>{345,117}</string>
            </dict>
            <key>holyplace_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,558},{250,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,73}}</string>
                <key>sourceSize</key>
                <string>{250,77}</string>
            </dict>
            <key>holyplace_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,339},{315,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,217}}</string>
                <key>sourceSize</key>
                <string>{315,217}</string>
            </dict>
            <key>holyplace_stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,339},{486,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,187}}</string>
                <key>sourceSize</key>
                <string>{486,187}</string>
            </dict>
            <key>holyplace_stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,827},{422,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,143}}</string>
                <key>sourceSize</key>
                <string>{422,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>holyplace_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a24902937aee178618a48179463b4a9$</string>
            <key>textureFileName</key>
            <string>holyplace_bg.png</string>
        </dict>
    </dict>
</plist>
