<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_colorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_gem_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,444},{117,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,45}}</string>
                <key>sourceSize</key>
                <string>{117,45}</string>
            </dict>
            <key>card_golden_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,228},{162,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,222}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_golden_race_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,144},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_golden_race_human.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,931},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_golden_race_nature.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,942},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_lv_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,582},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_colorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,575},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,533},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,491},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,562},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,520},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_lv_bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,478},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>card_main_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,481},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_colorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,255},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,716},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_olight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{182,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{182,233}}</string>
                <key>sourceSize</key>
                <string>{196,251}</string>
            </dict>
            <key>card_main_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,490},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_main_light_cofull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,251}}</string>
                <key>sourceSize</key>
                <string>{196,251}</string>
            </dict>
            <key>card_mercenary_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,931},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>card_piece_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,486},{94,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>card_piece_light_trial_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,206},{48,66}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>card_piece_light_trial_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,580},{48,96}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>card_piece_light_trial_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,428},{48,110}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,110}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>card_piece_light_trial_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,336},{48,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,138}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>card_piece_light_trial_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,286},{48,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,140}}</string>
                <key>sourceSize</key>
                <string>{50,140}</string>
            </dict>
            <key>card_piece_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,478},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>card_profesion_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,630},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_assassin.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,599},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_assistant.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,256},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,545},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_colorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,545},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,549},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,495},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,491},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,491},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,314},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,599},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_shiled.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,603},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profesion_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,582},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>card_profession_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,136},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>card_race_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{71,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{71,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>card_race_human.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,144},{69,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>card_race_nature.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,65},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>card_silver_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,707},{162,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,222}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>card_silver_race_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,942},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_silver_race_human.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,942},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_silver_race_nature.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>card_star_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,495},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>card_star_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,228},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cardfire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,386},{98,123}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,123}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>cardfire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,368},{98,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,125}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>cardfire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,344},{98,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,125}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>cardfire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,244},{98,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,125}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>cardfire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,144},{98,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,125}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_public2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a52043ff2ce9a548401665522fa70415$</string>
            <key>textureFileName</key>
            <string>p_public2.png</string>
        </dict>
    </dict>
</plist>
