<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seagul_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,642},{23,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,642},{23,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{23,28}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,655},{23,24}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,631},{23,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,656},{23,26}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,26}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,631},{23,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,617},{23,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>seagul_leftshader_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,339},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,395},{26,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,631},{26,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,311},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,429},{26,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,367},{26,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,34}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>seagul_leftshader_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,283},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>ship_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,650},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,650},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,656},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,655},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,660},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ship_flag_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,642},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>water_barrel.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,423},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>water_flipshader_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,429},{86,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,491},{84,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,583},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,46}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,477},{84,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{84,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,573},{84,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,539},{84,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,447},{86,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,42}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_flipshader_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,527},{84,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,44}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>water_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,280},{165,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,87}}</string>
                <key>sourceSize</key>
                <string>{165,87}</string>
            </dict>
            <key>water_ship_canvas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{23,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,51}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>water_ship_canvas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,617},{23,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,51}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>water_ship_canvas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,230},{23,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,51}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>water_ship_canvas4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,625},{23,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,49}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>water_ship_canvasb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,173},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>water_ship_canvasb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,116},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>water_ship_canvasb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,59},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>water_ship_canvasb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>water_ship_mast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,99},{9,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,85}}</string>
                <key>sourceSize</key>
                <string>{9,85}</string>
            </dict>
            <key>water_ship_mast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,195},{3,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,54}}</string>
                <key>sourceSize</key>
                <string>{3,54}</string>
            </dict>
            <key>water_ship_rope1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,240},{6,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,95}}</string>
                <key>sourceSize</key>
                <string>{10,95}</string>
            </dict>
            <key>water_ship_rope2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,230},{8,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,95}}</string>
                <key>sourceSize</key>
                <string>{10,95}</string>
            </dict>
            <key>water_ship_rope3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,186},{8,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,95}}</string>
                <key>sourceSize</key>
                <string>{10,95}</string>
            </dict>
            <key>water_ship_rope4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{10,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,95}}</string>
                <key>sourceSize</key>
                <string>{10,95}</string>
            </dict>
            <key>water_waterwave_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,606},{160,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{160,43}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{160,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{160,43}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{166,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{166,45}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{170,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{170,47}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{170,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{170,47}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,555},{160,49}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{160,49}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,504},{162,49}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{162,49}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_waterwave_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,457},{156,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{156,45}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>water_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,625},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>worldmap_coud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{268,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,83}}</string>
                <key>sourceSize</key>
                <string>{268,83}</string>
            </dict>
            <key>worldmap_could_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,248},{192,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,89}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>worldmap_could_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,195},{232,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,99}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>worldmap_could_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{169,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,153}}</string>
                <key>sourceSize</key>
                <string>{169,153}</string>
            </dict>
            <key>worldmap_could_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,375}}</string>
                <key>sourceSize</key>
                <string>{191,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldmap_pub.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59fed25c9ba2e76a421e1b63f3815a5b$</string>
            <key>textureFileName</key>
            <string>worldmap_pub.png</string>
        </dict>
    </dict>
</plist>
