<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sum_1300_Glow_SheGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{244,249}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,249}}</string>
                <key>sourceSize</key>
                <string>{250,251}</string>
            </dict>
            <key>sum_1300_Heng_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,734},{85,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{85,38}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>summoner_1300_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,734},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1300_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,774},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>summoner_1300_ef01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{263,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,198}}</string>
                <key>sourceSize</key>
                <string>{263,198}</string>
            </dict>
            <key>summoner_1300_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,730}}</string>
                <key>sourceSize</key>
                <string>{1000,730}</string>
            </dict>
            <key>summoner_1300_js1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1056},{261,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,199}}</string>
                <key>sourceSize</key>
                <string>{261,199}</string>
            </dict>
            <key>summoner_1300_lightpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1300_Ult.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7073382699606dd9f31bc9d246834cb0$</string>
            <key>textureFileName</key>
            <string>hero_1300_Ult.png</string>
        </dict>
    </dict>
</plist>
