<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cocounttree_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2020},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>cocounttree_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2020},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>cocounttree_leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,826},{12,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,30}}</string>
                <key>sourceSize</key>
                <string>{12,30}</string>
            </dict>
            <key>cocounttree_leaf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2020},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>cocounttree_leaf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1063},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>cocounttree_leaf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2020},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>cocounttree_leaf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1063},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>cocounttree_leaf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1063},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>cocounttree_leaf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1063},{37,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,16}}</string>
                <key>sourceSize</key>
                <string>{37,16}</string>
            </dict>
            <key>cocounttree_leaf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1063},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>cocounttree_trunk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1063},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>cocounttree_trunk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,826},{12,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,41}}</string>
                <key>sourceSize</key>
                <string>{12,41}</string>
            </dict>
            <key>exam_flag_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1063},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>exam_flag_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2020},{16,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>exam_flag_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1063},{16,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>exam_flag_d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1063},{16,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>guild_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{182,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,188}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>guild_flag_mast.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2020},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>guild_taskmap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,841},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1375},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,574},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,307},{265,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,116}}</string>
                <key>sourceSize</key>
                <string>{265,116}</string>
            </dict>
            <key>guild_taskmap_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,841},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>guildhouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1909},{135,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,136}}</string>
                <key>sourceSize</key>
                <string>{135,136}</string>
            </dict>
            <key>guildmap_Tree_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1769},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>guildmap__bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>guildmap__bg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>guildmap_church.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{119,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,138}}</string>
                <key>sourceSize</key>
                <string>{119,138}</string>
            </dict>
            <key>guildmap_dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1774},{114,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,126}}</string>
                <key>sourceSize</key>
                <string>{114,126}</string>
            </dict>
            <key>guildmap_expedhouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,142},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>guildmap_pubu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1774},{47,133}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,133}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1774},{47,133}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,133}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1902},{49,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1909},{49,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1909},{49,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1909},{49,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1902},{47,135}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,135}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_pubu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1774},{47,133}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,133}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>guildmap_sea00.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1547},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1325},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,841},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1103},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1552},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1330},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,644},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea07.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,841},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1108},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sea09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,644},{220,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,180}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guildmap_sealtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1895},{123,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,163}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>guildmap_sealtai_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1895},{123,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,163}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>guildshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1100},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,165}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>guildtask_stagebar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,922},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>guildtask_stagebar_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,725},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>guildtask_stagebar_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,644},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>guildtask_stagebar_undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,841},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>guildtask_stagebarboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1001},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildmap.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c5309a506835a311d4a99f23306ed4e$</string>
            <key>textureFileName</key>
            <string>guildmap.png</string>
        </dict>
    </dict>
</plist>
