<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowfeild_house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,179},{213,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,148}}</string>
                <key>sourceSize</key>
                <string>{213,148}</string>
            </dict>
            <key>snowfeild_house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,900},{152,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,118}}</string>
                <key>sourceSize</key>
                <string>{152,118}</string>
            </dict>
            <key>snowfeild_houseshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,638},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>snowfeild_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,176},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>snowfield_bg_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{478,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,114}}</string>
                <key>sourceSize</key>
                <string>{478,114}</string>
            </dict>
            <key>snowfield_bg_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,512},{374,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,55}}</string>
                <key>sourceSize</key>
                <string>{374,55}</string>
            </dict>
            <key>snowfield_bg_mid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,512},{385,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,63}}</string>
                <key>sourceSize</key>
                <string>{385,63}</string>
            </dict>
            <key>snowfield_bg_mid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,512},{386,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,48}}</string>
                <key>sourceSize</key>
                <string>{386,48}</string>
            </dict>
            <key>snowfield_brunch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,888},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,99}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>snowfield_brunch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,638},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,43}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>snowfield_brunch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,992},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>snowfield_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{748,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,352}}</string>
                <key>sourceSize</key>
                <string>{748,352}</string>
            </dict>
            <key>snowfield_fog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,992},{52,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>snowfield_fog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,702},{138,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>snowfield_grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,122},{220,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,55}}</string>
                <key>sourceSize</key>
                <string>{220,67}</string>
            </dict>
            <key>snowfield_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,512},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>snowfield_grass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,702},{190,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
            <key>snowfield_grass4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,512},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>snowfield_grass5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,702},{196,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>snowfield_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,154}}</string>
                <key>sourceSize</key>
                <string>{760,154}</string>
            </dict>
            <key>snowfield_skylight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,842},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>snowfield_skylight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,702},{141,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,40}}</string>
                <key>sourceSize</key>
                <string>{141,40}</string>
            </dict>
            <key>snowfield_snow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,158},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>snowfield_snow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,185},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>snowfield_snow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,176},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>snowfield_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,283},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>snowfield_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,887},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,107}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>snowfield_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,512},{50,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,107}}</string>
                <key>sourceSize</key>
                <string>{50,107}</string>
            </dict>
            <key>snowfield_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,576},{67,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,124}}</string>
                <key>sourceSize</key>
                <string>{67,124}</string>
            </dict>
            <key>snowfield_tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,887},{65,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,110}}</string>
                <key>sourceSize</key>
                <string>{65,110}</string>
            </dict>
            <key>snowfield_tree6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,122},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>snowfield_tree6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,848},{59,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,37}}</string>
                <key>sourceSize</key>
                <string>{59,37}</string>
            </dict>
            <key>snowfield_tree6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,621},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>snowfield_tree6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,512},{86,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,55}}</string>
                <key>sourceSize</key>
                <string>{86,55}</string>
            </dict>
            <key>snowfield_tree6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,894},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>snowfield_tree7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>snowfield_tree7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,848},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>snowfield_tree7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,512},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>snowfield_tree7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,561},{75,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>snowfield_tree7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,376},{104,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,69}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>snowfield_tree7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,512},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>snowfield_trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{251,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,118}}</string>
                <key>sourceSize</key>
                <string>{251,118}</string>
            </dict>
            <key>snowfield_treetrunk.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,329},{364,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,199}}</string>
                <key>sourceSize</key>
                <string>{364,199}</string>
            </dict>
            <key>snowfield_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,702},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>snowfield_wood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,482},{92,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowfield_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20de3228950c97c74a575e96bfb501d$</string>
            <key>textureFileName</key>
            <string>snowfield_bg.png</string>
        </dict>
    </dict>
</plist>
