<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_effect_d_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,603},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egg_effect_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,924},{153,139}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,60},{153,139}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,925},{155,161}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{155,161}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,495},{167,161}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{167,161}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,312},{171,181}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{171,181}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,408},{205,187}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{205,187}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,406},{205,195}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{205,195}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,205},{207,201}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{207,201}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{213,203}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{213,203}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,203}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{215,203}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{215,201}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{215,201}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{215,201}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{215,201}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,201}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{215,201}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,205},{213,203}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{213,203}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,597},{203,197}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{203,197}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{201,193}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{201,193}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,615},{201,199}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{201,199}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{203,203}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{203,203}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,410},{203,203}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{203,203}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,205},{205,199}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{205,199}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{201,193}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{201,193}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,935},{153,161}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{153,161}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>egg_effect_light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{151,167}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{151,167}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>pig_ef01.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1052},{84,59}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,65},{84,59}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef02.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,924},{126,75}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,48},{126,75}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,918},{178,137}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{178,137}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef04.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,787},{182,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{182,135}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef05.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,658},{186,127}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{186,127}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef06.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,805},{194,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{194,111}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,796},{198,127}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{198,127}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef08.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,816},{196,117}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{196,117}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{154,113}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{154,113}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{116,107}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{116,107}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>pig_ef_q01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1082},{131,132}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{131,132}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
            <key>pig_ef_q02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,171},{139,146}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,146}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
            <key>pig_ef_q03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1090},{125,126}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{125,126}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
            <key>pig_ef_q04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1057},{133,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,146}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_ef.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6348d559fff5c2f08305d216b1ba41ad$</string>
            <key>textureFileName</key>
            <string>story_ef.png</string>
        </dict>
    </dict>
</plist>
