<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Face_FireWizard_.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,613},{114,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,194}}</string>
                <key>sourceSize</key>
                <string>{114,194}</string>
            </dict>
            <key>Face_Lanni_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,383},{262,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,461}}</string>
                <key>sourceSize</key>
                <string>{264,461}</string>
            </dict>
            <key>Face_Lanni_Smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,758},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>Face_Schoolmaster_Angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,805},{73,70}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Face_Schoolmaster_Jiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,737},{75,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{75,66}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Face_Schoolmaster_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,829},{421,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,394}}</string>
                <key>sourceSize</key>
                <string>{421,394}</string>
            </dict>
            <key>Face_Schoolmaster_Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,665},{75,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,70}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Face_Schoolmaster_Smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,930},{77,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{77,66}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Face_UndeadStudent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{353,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,358}}</string>
                <key>sourceSize</key>
                <string>{353,358}</string>
            </dict>
            <key>Face_UndeadStudent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1895},{82,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>ForestSoldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,325},{312,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,475}}</string>
                <key>sourceSize</key>
                <string>{312,475}</string>
            </dict>
            <key>HackButeer_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1225},{342,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,308}}</string>
                <key>sourceSize</key>
                <string>{342,308}</string>
            </dict>
            <key>HackButeer_pica.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1915},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>face_Accompany.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{271,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,412}}</string>
                <key>sourceSize</key>
                <string>{271,412}</string>
            </dict>
            <key>face_Dobby_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1642},{207,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,324}}</string>
                <key>sourceSize</key>
                <string>{207,324}</string>
            </dict>
            <key>face_Dobby_normala.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{207,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,376}}</string>
                <key>sourceSize</key>
                <string>{207,376}</string>
            </dict>
            <key>face_Dobby_normalb.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1007},{151,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,399}}</string>
                <key>sourceSize</key>
                <string>{151,399}</string>
            </dict>
            <key>face_Dobby_serious.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1486},{167,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{167,122}}</string>
                <key>sourceSize</key>
                <string>{207,122}</string>
            </dict>
            <key>face_Dobby_speechless.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1258},{167,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{167,122}}</string>
                <key>sourceSize</key>
                <string>{207,122}</string>
            </dict>
            <key>face_Dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1895},{141,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>face_Dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1186},{141,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>face_Dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1186},{141,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>face_Dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1951},{129,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,94}}</string>
                <key>sourceSize</key>
                <string>{129,94}</string>
            </dict>
            <key>face_Knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{321,489}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{321,489}}</string>
                <key>sourceSize</key>
                <string>{325,489}</string>
            </dict>
            <key>face_Knight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1859},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>face_Knight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1186},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>face_Thief.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,872},{312,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,405}}</string>
                <key>sourceSize</key>
                <string>{312,405}</string>
            </dict>
            <key>face_TombRobber.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{503,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,379}}</string>
                <key>sourceSize</key>
                <string>{503,379}</string>
            </dict>
            <key>face_Yosia_Angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1186},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>face_Yosia_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,647},{358,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,419}}</string>
                <key>sourceSize</key>
                <string>{358,419}</string>
            </dict>
            <key>face_assassin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1288},{342,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,334}}</string>
                <key>sourceSize</key>
                <string>{342,334}</string>
            </dict>
            <key>face_assassin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1915},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>face_villagehead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1931},{115,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,128}}</string>
                <key>sourceSize</key>
                <string>{115,128}</string>
            </dict>
            <key>face_villagehead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1158},{115,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,128}}</string>
                <key>sourceSize</key>
                <string>{115,128}</string>
            </dict>
            <key>face_villagehead_awkward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1535},{341,322}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,322}}</string>
                <key>sourceSize</key>
                <string>{357,322}</string>
            </dict>
            <key>face_villagehead_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1627},{357,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,322}}</string>
                <key>sourceSize</key>
                <string>{357,322}</string>
            </dict>
            <key>story_BlackBear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{420,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,382}}</string>
                <key>sourceSize</key>
                <string>{420,382}</string>
            </dict>
            <key>story_Card_Egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1951},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>story_Card_Egg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,502},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>story_Card_Egg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,325},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>story_Card_Egg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,425},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>story_Card_Egg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,1028},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>story_Card_Egg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,639},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>story_Card_Egg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1007},{149,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,117}}</string>
                <key>sourceSize</key>
                <string>{149,117}</string>
            </dict>
            <key>story_Card_Egg07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1895},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>story_Card_Egg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1951},{140,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,95}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>story_Card_Egg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,829},{141,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,27}}</string>
                <key>sourceSize</key>
                <string>{141,27}</string>
            </dict>
            <key>story_Card_Egg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,522},{141,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,32}}</string>
                <key>sourceSize</key>
                <string>{141,32}</string>
            </dict>
            <key>story_Card_Egg10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,383},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>story_Card_Egg10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,872},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>story_Card_Egg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,406},{205,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,196}}</string>
                <key>sourceSize</key>
                <string>{205,196}</string>
            </dict>
            <key>story_Card_Egg11a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,672},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>story_Card_Egg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,908},{178,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,116}}</string>
                <key>sourceSize</key>
                <string>{178,116}</string>
            </dict>
            <key>story_Card_Egg12a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,344},{33,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,6}}</string>
                <key>sourceSize</key>
                <string>{33,6}</string>
            </dict>
            <key>story_Card_Egg12b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,824},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>story_Card_Egg12c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,447},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>story_Card_Egg12d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,477},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>story_Card_Egg12e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,972},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>story_Death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,402}}</string>
                <key>sourceSize</key>
                <string>{618,402}</string>
            </dict>
            <key>story_Death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,473},{438,354}}</string>
                <key>offset</key>
                <string>{73,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,48},{438,354}}</string>
                <key>sourceSize</key>
                <string>{618,402}</string>
            </dict>
            <key>story_FireWizard01.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1931},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>story_FireWizard02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1382},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>story_FireWizard03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1486},{157,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,246}}</string>
                <key>sourceSize</key>
                <string>{157,246}</string>
            </dict>
            <key>story_FireWizard04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,639},{231,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,429}}</string>
                <key>sourceSize</key>
                <string>{231,429}</string>
            </dict>
            <key>story_Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1915},{131,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,138}}</string>
                <key>sourceSize</key>
                <string>{131,138}</string>
            </dict>
            <key>story_Pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1160},{378,324}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{378,324}}</string>
                <key>sourceSize</key>
                <string>{378,352}</string>
            </dict>
            <key>story_Pig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1288},{348,352}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,352}}</string>
                <key>sourceSize</key>
                <string>{378,352}</string>
            </dict>
            <key>story_Villager.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1645},{248,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,347}}</string>
                <key>sourceSize</key>
                <string>{248,347}</string>
            </dict>
            <key>story_dragonegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1026},{170,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>story_face_Skeleton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{469,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,421}}</string>
                <key>sourceSize</key>
                <string>{469,421}</string>
            </dict>
            <key>story_flashcard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,729},{177,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,183}}</string>
                <key>sourceSize</key>
                <string>{177,183}</string>
            </dict>
            <key>story_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1655},{295,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,258}}</string>
                <key>sourceSize</key>
                <string>{295,258}</string>
            </dict>
            <key>story_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1668},{261,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,253}}</string>
                <key>sourceSize</key>
                <string>{261,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_icon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ce1b496ac357ea05b8cd66e44582aa6$</string>
            <key>textureFileName</key>
            <string>story_icon.png</string>
        </dict>
    </dict>
</plist>
