<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>library_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{821,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,120}}</string>
                <key>sourceSize</key>
                <string>{821,120}</string>
            </dict>
            <key>library_bg02_book01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1050},{109,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>library_bg02_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{814,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{814,319}}</string>
                <key>sourceSize</key>
                <string>{814,319}</string>
            </dict>
            <key>library_bg02_page01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,627},{66,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{66,27}</string>
            </dict>
            <key>library_bg02_page02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,978},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>library_bg02_page03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1170},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>library_bg02_page04.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1224},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>library_bg02_page05.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1107},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>library_bg02_page06.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1151},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>library_bg03_book02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,780},{82,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>library_bg03_book03.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,656},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>library_bg03_book06.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1089},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>library_bg03_book06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1151},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>library_bg03_box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1130},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>library_bg03_box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,878},{128,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,93}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>library_bg03_box02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,973},{126,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,53}}</string>
                <key>sourceSize</key>
                <string>{126,53}</string>
            </dict>
            <key>library_bg03_box02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1191},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>library_bg03_box02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1028},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>library_bg03_box02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,445},{123,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{123,19}</string>
            </dict>
            <key>library_bg03_box02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,878},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>library_bg03_box02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1230},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,60}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>library_bg03_box03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1016},{112,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,90}}</string>
                <key>sourceSize</key>
                <string>{112,90}</string>
            </dict>
            <key>library_bg03_clock01_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,441},{135,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,308}}</string>
                <key>sourceSize</key>
                <string>{135,308}</string>
            </dict>
            <key>library_bg03_clock01_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{104,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,155}}</string>
                <key>sourceSize</key>
                <string>{104,155}</string>
            </dict>
            <key>library_bg03_clock01_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{39,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,98}}</string>
                <key>sourceSize</key>
                <string>{39,98}</string>
            </dict>
            <key>library_bg03_clock01_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1005},{34,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,105}}</string>
                <key>sourceSize</key>
                <string>{34,105}</string>
            </dict>
            <key>library_bg03_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{450,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,116}}</string>
                <key>sourceSize</key>
                <string>{450,116}</string>
            </dict>
            <key>library_bg03_dqy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,306},{133,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,140}}</string>
                <key>sourceSize</key>
                <string>{133,140}</string>
            </dict>
            <key>library_bg03_fangdajing.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,899},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>library_bg03_glass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,947},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>library_bg03_glass02.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1203},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>library_bg03_glass04.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,928},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>library_bg03_glass05.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,102},{37,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,138}}</string>
                <key>sourceSize</key>
                <string>{37,138}</string>
            </dict>
            <key>library_bg03_glass06.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1041},{64,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,103}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>library_bg03_glass07.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,439},{61,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>library_bg03_glass08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1191},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>library_bg03_glass09.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,546},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>library_bg03_guizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,445},{336,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,333}}</string>
                <key>sourceSize</key>
                <string>{336,333}</string>
            </dict>
            <key>library_bg03_guizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{444,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,334}}</string>
                <key>sourceSize</key>
                <string>{444,334}</string>
            </dict>
            <key>library_bg03_hulan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,773},{103,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,224}}</string>
                <key>sourceSize</key>
                <string>{103,224}</string>
            </dict>
            <key>library_bg03_jiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1181},{71,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,47}}</string>
                <key>sourceSize</key>
                <string>{71,47}</string>
            </dict>
            <key>library_bg03_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1185},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>library_bg03_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1107},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>library_bg03_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,864},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>library_bg03_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1108},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>library_bg03_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,375},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>library_bg03_somebooks01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,904},{244,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,110}}</string>
                <key>sourceSize</key>
                <string>{244,110}</string>
            </dict>
            <key>library_bg03_somebooks02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1016},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,109}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>library_bg03_tizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,223},{81,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,149}}</string>
                <key>sourceSize</key>
                <string>{81,149}</string>
            </dict>
            <key>library_bg03_zhuzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,780},{122,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,260}}</string>
                <key>sourceSize</key>
                <string>{122,260}</string>
            </dict>
            <key>library_bg04_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{400,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,106}}</string>
                <key>sourceSize</key>
                <string>{400,106}</string>
            </dict>
            <key>library_bg04_hulan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,242},{53,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,131}}</string>
                <key>sourceSize</key>
                <string>{53,131}</string>
            </dict>
            <key>library_bg04_zhuzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,108},{56,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,151}}</string>
                <key>sourceSize</key>
                <string>{56,151}</string>
            </dict>
            <key>library_bg04_zhuzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,166},{55,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,151}}</string>
                <key>sourceSize</key>
                <string>{55,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>library_bg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:404849b29bc93843e5d3438b54612f7f$</string>
            <key>textureFileName</key>
            <string>library_bg.png</string>
        </dict>
    </dict>
</plist>
