<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drawcard_aura.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{272,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,96}}</string>
                <key>sourceSize</key>
                <string>{272,96}</string>
            </dict>
            <key>drawcard_aura_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{499,253}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,253}}</string>
                <key>sourceSize</key>
                <string>{499,257}</string>
            </dict>
            <key>drawcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>drawcard_gem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1672},{139,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,342}}</string>
                <key>sourceSize</key>
                <string>{139,342}</string>
            </dict>
            <key>drawcard_gem1_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1140},{242,530}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,530}}</string>
                <key>sourceSize</key>
                <string>{244,530}</string>
            </dict>
            <key>drawcard_gem1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{330,599}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{330,599}}</string>
                <key>sourceSize</key>
                <string>{342,613}</string>
            </dict>
            <key>drawcard_gem1_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1472},{62,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,110}}</string>
                <key>sourceSize</key>
                <string>{62,110}</string>
            </dict>
            <key>drawcard_gem1_trailing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1961},{70,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,291}}</string>
                <key>sourceSize</key>
                <string>{70,291}</string>
            </dict>
            <key>drawcard_gem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1863},{39,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>drawcard_gem2_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{114,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,163}}</string>
                <key>sourceSize</key>
                <string>{114,163}</string>
            </dict>
            <key>drawcard_gem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1472},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>drawcard_gem3_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,464},{125,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,167}}</string>
                <key>sourceSize</key>
                <string>{125,167}</string>
            </dict>
            <key>drawcard_gem_boom_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1996},{44,58}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,100},{44,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1272},{102,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,71},{102,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1122},{140,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,55},{140,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,904},{166,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{166,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,920},{186,192}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{186,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,260},{202,206}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,496},{210,216}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{210,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1813},{206,224}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{206,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,714},{184,204}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{184,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_gem_boom_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,714},{186,188}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{186,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drawcard_mask_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1889},{227,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,128}}</string>
                <key>sourceSize</key>
                <string>{227,128}</string>
            </dict>
            <key>drawcard_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1727},{267,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{267,123}}</string>
                <key>sourceSize</key>
                <string>{267,125}</string>
            </dict>
            <key>drawcard_stone_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1584},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>drawcard_stonelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,260},{234,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,99}}</string>
                <key>sourceSize</key>
                <string>{234,99}</string>
            </dict>
            <key>gem_elm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,347},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>gem_elm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2019},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>gem_elm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2008},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>gem_elm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,167},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>gem_elm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1078},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>gem_elm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1934},{20,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,51}}</string>
                <key>sourceSize</key>
                <string>{20,51}</string>
            </dict>
            <key>gem_elm_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1108},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>gem_elm_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1862},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>gem_elm_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,464},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>gem_elm_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,676},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>gem_elm_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,633},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>gem_elm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1956},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>gem_elm_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1996},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>gem_elm_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,167},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>gem_elm_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,464},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>gem_elm_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,633},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>gem_elm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,673},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>gem_elm_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,248},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>gem_elm_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1951},{37,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{37,55}</string>
            </dict>
            <key>gem_elm_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,207},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>gem_elm_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1635},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>gem_elm_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,633},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>gem_elm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1581},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>gem_elm_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,207},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>gem_elm_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1889},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>gem_elm_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2019},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>gem_elm_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,298},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>gem_elm_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1727},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>gem_elm_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,683},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>gem_elm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2019},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>gem_elm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1635},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>gem_elm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1529},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>gem_elm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,298},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>gem_elm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1797},{37,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,63}}</string>
                <key>sourceSize</key>
                <string>{37,63}</string>
            </dict>
            <key>gem_elm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2013},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>gem_elm_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1727},{134,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,327}}</string>
                <key>sourceSize</key>
                <string>{134,327}</string>
            </dict>
            <key>ui_luckbox_boomray2_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1813},{235,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{235,74}}</string>
                <key>sourceSize</key>
                <string>{237,80}</string>
            </dict>
            <key>ui_luckbox_boomray_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drawcard.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6752c2a8f6091716f5b9f1bbb44f91a$</string>
            <key>textureFileName</key>
            <string>drawcard.png</string>
        </dict>
    </dict>
</plist>
