<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_drawcard_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>bg_drawcard_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>card_Eff_BuleGlow_.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>card_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,324},{81,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,112}}</string>
                <key>sourceSize</key>
                <string>{85,116}</string>
            </dict>
            <key>card_bg_ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,484},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,148}}</string>
                <key>sourceSize</key>
                <string>{120,148}</string>
            </dict>
            <key>card_gift_GlowYellowX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,493},{93,92}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{93,92}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,328},{137,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{137,154}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,764},{141,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{141,158}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,311},{145,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{145,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,149},{145,162}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{145,162}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{145,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{145,162}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,164},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{145,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,441},{143,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{143,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{141,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{141,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellowX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{139,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{139,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_GlowYellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,296},{143,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{143,160}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>card_gift_Glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,926},{93,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,122}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>card_main_bar_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,417},{92,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{92,118}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>card_main_bar_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{96,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>card_main_bar_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,230},{96,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>card_main_light_colorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,130},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>card_main_light_colorfull2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,407},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{84,110}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>drawcard_circlelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,164},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>effect_particle_boom00.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,324},{52,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,91}}</string>
                <key>sourceSize</key>
                <string>{52,91}</string>
            </dict>
            <key>effect_particle_boom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,355},{60,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,103}</string>
            </dict>
            <key>effect_particle_boom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,244},{74,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,109}}</string>
                <key>sourceSize</key>
                <string>{74,109}</string>
            </dict>
            <key>effect_particle_boom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,511},{86,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,113}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>effect_particle_boom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{94,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>effect_particle_boom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,602},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>effect_particle_boom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,924},{98,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,123}}</string>
                <key>sourceSize</key>
                <string>{98,123}</string>
            </dict>
            <key>effect_particle_boom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,324},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>effect_particle_boom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,602},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>effect_particle_boom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,458},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d405338065f42c5194928fa3f0d28c2e$</string>
            <key>textureFileName</key>
            <string>effect_card.png</string>
        </dict>
    </dict>
</plist>
