<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10006_Doodad_debris1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,452},{55,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>10006_Doodad_debris2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,398},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>10006_Doodad_debris3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,212},{140,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>10006_Doodad_debris4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,197},{101,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,31}}</string>
                <key>sourceSize</key>
                <string>{101,31}</string>
            </dict>
            <key>10006_Doodad_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{51,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,98}}</string>
                <key>sourceSize</key>
                <string>{51,98}</string>
            </dict>
            <key>10006_Doodad_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,303}}</string>
                <key>sourceSize</key>
                <string>{251,303}</string>
            </dict>
            <key>10006_Doodad_house_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,136},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>10006_Doodad_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,891},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>10006_Doodad_road.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,305},{219,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,138}}</string>
                <key>sourceSize</key>
                <string>{219,138}</string>
            </dict>
            <key>10006_Doodad_shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>forest_floor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{295,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,76}}</string>
                <key>sourceSize</key>
                <string>{295,76}</string>
            </dict>
            <key>forest_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,836},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>forest_stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,300},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>forest_stone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,58},{174,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,76}}</string>
                <key>sourceSize</key>
                <string>{174,76}</string>
            </dict>
            <key>forest_stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,837},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>forest_stone_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,771},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>forest_wood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,771},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>forest_wood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,136},{165,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,74}}</string>
                <key>sourceSize</key>
                <string>{165,74}</string>
            </dict>
            <key>forest_wood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>forest_woodhouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{294,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,238}}</string>
                <key>sourceSize</key>
                <string>{294,238}</string>
            </dict>
            <key>forest_woodhouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,526},{243,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,206}}</string>
                <key>sourceSize</key>
                <string>{243,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10006_Doodad0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0708b22ea9ee59d43258bafc88f24f01$</string>
            <key>textureFileName</key>
            <string>10006_Doodad0.png</string>
        </dict>
    </dict>
</plist>
