<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_cocoon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1250},{28,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,134}}</string>
                <key>sourceSize</key>
                <string>{28,134}</string>
            </dict>
            <key>spider_cocoon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1634},{54,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,144}}</string>
                <key>sourceSize</key>
                <string>{54,144}</string>
            </dict>
            <key>spider_cocoon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1531},{112,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,101}}</string>
                <key>sourceSize</key>
                <string>{112,101}</string>
            </dict>
            <key>spider_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1288,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1288,370}}</string>
                <key>sourceSize</key>
                <string>{1288,370}</string>
            </dict>
            <key>spider_mask_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1203},{163,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,45}}</string>
                <key>sourceSize</key>
                <string>{163,45}</string>
            </dict>
            <key>spider_mask_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1203},{326,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,72}}</string>
                <key>sourceSize</key>
                <string>{326,72}</string>
            </dict>
            <key>spider_tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1649},{300,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,351}}</string>
                <key>sourceSize</key>
                <string>{300,351}</string>
            </dict>
            <key>spider_tree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1282},{249,365}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{249,365}}</string>
                <key>sourceSize</key>
                <string>{253,365}</string>
            </dict>
            <key>spider_web_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1050},{151,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,191}}</string>
                <key>sourceSize</key>
                <string>{151,191}</string>
            </dict>
            <key>spider_web_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1785},{322,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,252}}</string>
                <key>sourceSize</key>
                <string>{322,252}</string>
            </dict>
            <key>spider_web_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{644,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,491}}</string>
                <key>sourceSize</key>
                <string>{644,491}</string>
            </dict>
            <key>spider_web_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1050},{230,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,331}}</string>
                <key>sourceSize</key>
                <string>{230,331}</string>
            </dict>
            <key>spider_web_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{1046,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1046,336}}</string>
                <key>sourceSize</key>
                <string>{1046,336}</string>
            </dict>
            <key>spider_web_near.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1785},{130,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spider_web.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:707c46658d1f7924bafc49c784ccc956$</string>
            <key>textureFileName</key>
            <string>spider_web.png</string>
        </dict>
    </dict>
</plist>
