<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{602,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,90}}</string>
                <key>sourceSize</key>
                <string>{602,90}</string>
            </dict>
            <key>castle_bg02_bottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,878},{65,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,134}}</string>
                <key>sourceSize</key>
                <string>{65,134}</string>
            </dict>
            <key>castle_bg02_bottle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,64},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>castle_bg02_bottle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,415},{28,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,69}}</string>
                <key>sourceSize</key>
                <string>{28,69}</string>
            </dict>
            <key>castle_bg02_bottle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,517},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,70}}</string>
                <key>sourceSize</key>
                <string>{42,70}</string>
            </dict>
            <key>castle_bg02_bottle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,335},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>castle_bg02_bottle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,570},{38,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,87}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>castle_bg02_bottle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,570},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>castle_bg02_bottle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>castle_bg02_bottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,445},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>castle_bg02_bottle02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,721},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>castle_bg02_bottle02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,385},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>castle_bg02_bottle02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,547},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>castle_bg02_bottle02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,385},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>castle_bg02_bottle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,878},{75,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,144}}</string>
                <key>sourceSize</key>
                <string>{75,144}</string>
            </dict>
            <key>castle_bg02_bottle03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,554},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>castle_bg02_bottle03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,616},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>castle_bg02_bottle03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,517},{37,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,72}}</string>
                <key>sourceSize</key>
                <string>{37,72}</string>
            </dict>
            <key>castle_bg02_bottle03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,570},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>castle_bg02_bottle03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,570},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>castle_bg02_ceilinglamp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,611},{265,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,238}}</string>
                <key>sourceSize</key>
                <string>{265,238}</string>
            </dict>
            <key>castle_bg02_ceilinglamp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,889},{19,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,96}}</string>
                <key>sourceSize</key>
                <string>{19,96}</string>
            </dict>
            <key>castle_bg02_column01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,611},{129,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{129,300}}</string>
                <key>sourceSize</key>
                <string>{171,300}</string>
            </dict>
            <key>castle_bg02_column02.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,385},{58,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,172}}</string>
                <key>sourceSize</key>
                <string>{58,172}</string>
            </dict>
            <key>castle_bg02_column02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,381},{226,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,91}}</string>
                <key>sourceSize</key>
                <string>{226,91}</string>
            </dict>
            <key>castle_bg02_flag01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,989},{30,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,224}}</string>
                <key>sourceSize</key>
                <string>{30,224}</string>
            </dict>
            <key>castle_bg02_flag02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,385},{113,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,224}}</string>
                <key>sourceSize</key>
                <string>{113,224}</string>
            </dict>
            <key>castle_bg02_flag03.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,383},{30,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,226}}</string>
                <key>sourceSize</key>
                <string>{30,226}</string>
            </dict>
            <key>castle_bg02_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,445},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>castle_bg02_floor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,377}}</string>
                <key>sourceSize</key>
                <string>{668,377}</string>
            </dict>
            <key>castle_bg02_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1001},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>castle_bg02_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,561},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>castle_bg02_lightbeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,662},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>castle_bg02_railing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,913},{74,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,144}}</string>
                <key>sourceSize</key>
                <string>{74,144}</string>
            </dict>
            <key>castle_bg02_railing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,670},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>castle_bg02_railing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{336,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,60}}</string>
                <key>sourceSize</key>
                <string>{336,60}</string>
            </dict>
            <key>castle_bg02_railing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,445},{107,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,60}}</string>
                <key>sourceSize</key>
                <string>{107,60}</string>
            </dict>
            <key>castle_bg02_railing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,280},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>castle_bg02_railing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,381},{235,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,121}}</string>
                <key>sourceSize</key>
                <string>{235,121}</string>
            </dict>
            <key>castle_bg02_railing_f 02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,889},{123,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,75}}</string>
                <key>sourceSize</key>
                <string>{123,75}</string>
            </dict>
            <key>castle_bg02_railing_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,611},{276,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,75}}</string>
                <key>sourceSize</key>
                <string>{276,75}</string>
            </dict>
            <key>castle_bg02_railing_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,859},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{100,156}</string>
            </dict>
            <key>castle_bg02_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,878},{121,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,155}}</string>
                <key>sourceSize</key>
                <string>{121,155}</string>
            </dict>
            <key>castle_bg02_soldiers.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,245},{138,316}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,316}}</string>
                <key>sourceSize</key>
                <string>{146,316}</string>
            </dict>
            <key>castle_bg03_column_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,114},{23,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,164}}</string>
                <key>sourceSize</key>
                <string>{23,164}</string>
            </dict>
            <key>castle_bg03_column_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,611},{202,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,49}}</string>
                <key>sourceSize</key>
                <string>{202,49}</string>
            </dict>
            <key>castle_bg03_column_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,878},{35,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,135}}</string>
                <key>sourceSize</key>
                <string>{35,135}</string>
            </dict>
            <key>castle_bg03_column_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,445},{169,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,63}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>castle_bg03_flag01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,381},{187,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,237}}</string>
                <key>sourceSize</key>
                <string>{187,237}</string>
            </dict>
            <key>castle_bg04_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,618},{174,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,239}}</string>
                <key>sourceSize</key>
                <string>{174,239}</string>
            </dict>
            <key>castle_floor_seam.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,64},{179,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,322}}</string>
                <key>sourceSize</key>
                <string>{179,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55cd0500c061c6be88d8b18a3a5cd935$</string>
            <key>textureFileName</key>
            <string>castle_bg.png</string>
        </dict>
    </dict>
</plist>
