<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldmap_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,611}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{958,611}}</string>
                <key>sourceSize</key>
                <string>{958,645}</string>
            </dict>
            <key>worldmap_06b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{218,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,521}}</string>
                <key>sourceSize</key>
                <string>{218,521}</string>
            </dict>
            <key>worldmap_06c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{216,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,483}}</string>
                <key>sourceSize</key>
                <string>{216,483}</string>
            </dict>
            <key>worldmap_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{958,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,581}}</string>
                <key>sourceSize</key>
                <string>{958,581}</string>
            </dict>
            <key>worldmap_07b.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1198},{326,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,501}}</string>
                <key>sourceSize</key>
                <string>{326,501}</string>
            </dict>
            <key>worldmap_sky_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1198},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
            <key>worldmap_sky_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1701},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e88e07aaa0b86fd1896603a2eacdd3$</string>
            <key>textureFileName</key>
            <string>stage2.png</string>
        </dict>
    </dict>
</plist>
