<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldmap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1210},{958,566}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{958,566}}</string>
                <key>sourceSize</key>
                <string>{958,614}</string>
            </dict>
            <key>worldmap_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{113,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,524}}</string>
                <key>sourceSize</key>
                <string>{113,524}</string>
            </dict>
            <key>worldmap_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,528},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>worldmap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,610},{958,598}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{958,598}}</string>
                <key>sourceSize</key>
                <string>{958,614}</string>
            </dict>
            <key>worldmap_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{958,574}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{958,574}}</string>
                <key>sourceSize</key>
                <string>{958,614}</string>
            </dict>
            <key>worldmap_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,590},{51,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>worldmap_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{958,606}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{958,606}}</string>
                <key>sourceSize</key>
                <string>{958,614}</string>
            </dict>
            <key>worldmap_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{391,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,197}}</string>
                <key>sourceSize</key>
                <string>{391,197}</string>
            </dict>
            <key>worldmap_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,656}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{958,656}}</string>
                <key>sourceSize</key>
                <string>{958,696}</string>
            </dict>
            <key>worldmap_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1236},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
            <key>worldmap_sky_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1739},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
            <key>worldmap_sky_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1236},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
            <key>worldmap_sky_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1236},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
            <key>worldmap_sky_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{501,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,157}}</string>
                <key>sourceSize</key>
                <string>{501,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d92b6324c2b983408733591d187ba7$</string>
            <key>textureFileName</key>
            <string>stage1.png</string>
        </dict>
    </dict>
</plist>
