<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seaside_crab01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,73}}</string>
                <key>sourceSize</key>
                <string>{114,73}</string>
            </dict>
            <key>seaside_crab02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>seaside_crab03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,100},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>seaside_crab04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,136},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>seaside_crab05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,123},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>seaside_crab06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{32,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,67}}</string>
                <key>sourceSize</key>
                <string>{32,67}</string>
            </dict>
            <key>seaside_crab07.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,77},{21,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>sourceSize</key>
                <string>{21,45}</string>
            </dict>
            <key>seaside_crab08.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,156},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>seaside_crab09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>seaside_crab10.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,153},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>seaside_crab11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,123},{11,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,41}}</string>
                <key>sourceSize</key>
                <string>{11,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seaside_crab.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:893407bf7a87468978f9a0575e869fe3$</string>
            <key>textureFileName</key>
            <string>seaside_crab.png</string>
        </dict>
    </dict>
</plist>
