<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tow_bg02_caffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,543},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,49}}</string>
                <key>sourceSize</key>
                <string>{142,49}</string>
            </dict>
            <key>tow_bg02_caffeea.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,975},{111,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>tow_bg02_caffeeb.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1884},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>town_bg01_woodenbox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1906},{400,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{400,83}}</string>
                <key>sourceSize</key>
                <string>{400,87}</string>
            </dict>
            <key>town_bg02_bottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,594},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>town_bg02_bottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,901},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>town_bg02_brick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{395,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,204}}</string>
                <key>sourceSize</key>
                <string>{395,204}</string>
            </dict>
            <key>town_bg02_brick02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,933},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{119,56}</string>
            </dict>
            <key>town_bg02_cask01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,601},{156,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,119}}</string>
                <key>sourceSize</key>
                <string>{156,119}</string>
            </dict>
            <key>town_bg02_flags01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,779},{197,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,34}}</string>
                <key>sourceSize</key>
                <string>{197,34}</string>
            </dict>
            <key>town_bg02_flags02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,722},{227,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,55}}</string>
                <key>sourceSize</key>
                <string>{227,55}</string>
            </dict>
            <key>town_bg02_flags03.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{281,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{281,67}}</string>
                <key>sourceSize</key>
                <string>{281,71}</string>
            </dict>
            <key>town_bg02_flags04.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{252,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,67}}</string>
                <key>sourceSize</key>
                <string>{252,69}</string>
            </dict>
            <key>town_bg02_flags05.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1991},{121,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,46}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>town_bg02_pot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,722},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>town_bg02_pot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,975},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>town_bg02_stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1846},{176,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,36}}</string>
                <key>sourceSize</key>
                <string>{176,36}</string>
            </dict>
            <key>town_bg02_woodenbox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,204},{126,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,173}}</string>
                <key>sourceSize</key>
                <string>{126,173}</string>
            </dict>
            <key>town_bg02_woodenbox01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,722},{111,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,54}</string>
            </dict>
            <key>town_bg02_woodenbox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,393},{114,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,148}}</string>
                <key>sourceSize</key>
                <string>{114,148}</string>
            </dict>
            <key>town_bg02_woodenbox03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,815},{144,116}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,116}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>town_bg2_arch01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,779},{120,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,172}}</string>
                <key>sourceSize</key>
                <string>{120,172}</string>
            </dict>
            <key>town_bg2_arch02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1604},{300,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,219}}</string>
                <key>sourceSize</key>
                <string>{300,219}</string>
            </dict>
            <key>town_bg2_building01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1457},{145,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,447}}</string>
                <key>sourceSize</key>
                <string>{145,447}</string>
            </dict>
            <key>town_bg2_building01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1004},{255,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,451}}</string>
                <key>sourceSize</key>
                <string>{255,451}</string>
            </dict>
            <key>town_bg2_building02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{600,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,461}}</string>
                <key>sourceSize</key>
                <string>{600,461}</string>
            </dict>
            <key>town_bg2_building03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{600,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,433}}</string>
                <key>sourceSize</key>
                <string>{600,433}</string>
            </dict>
            <key>town_bg2_building04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{200,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,163}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>town_bg2_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,494}}</string>
                <key>sourceSize</key>
                <string>{1000,494}</string>
            </dict>
            <key>town_bg2_paper01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,204},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>town_bg2_paper02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,722},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>town_bg2_paper03.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,901},{150,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,72}</string>
            </dict>
            <key>town_bg2_railing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,927},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>town_bg2_railing01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,256},{35,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,89}}</string>
                <key>sourceSize</key>
                <string>{35,89}</string>
            </dict>
            <key>town_bg2_stick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,285},{106,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,153}}</string>
                <key>sourceSize</key>
                <string>{106,153}</string>
            </dict>
            <key>town_bg2_tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1604},{122,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,240}}</string>
                <key>sourceSize</key>
                <string>{122,240}</string>
            </dict>
            <key>town_bg2_tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,399},{178,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,216}}</string>
                <key>sourceSize</key>
                <string>{178,216}</string>
            </dict>
            <key>town_bg2_tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1197},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>town_bg2_window01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1088},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>town_bg3_building01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,815},{49,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,110}}</string>
                <key>sourceSize</key>
                <string>{49,110}</string>
            </dict>
            <key>town_bg3_building01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,617},{300,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,103}}</string>
                <key>sourceSize</key>
                <string>{300,103}</string>
            </dict>
            <key>town_bg3_building02.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,771},{92,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>town_bg3_tower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1991},{50,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,286}}</string>
                <key>sourceSize</key>
                <string>{50,286}</string>
            </dict>
            <key>town_bg4_sky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,399},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>town.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f344bb7654e19b1e333a2c4073473d$</string>
            <key>textureFileName</key>
            <string>town.png</string>
        </dict>
    </dict>
</plist>
