<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sum_1600_airup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1520},{250,110}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{250,110}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1627},{248,114}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{248,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1373},{252,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{252,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1134},{256,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{248,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{248,112}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1772},{246,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{246,106}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1520},{254,108}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{254,108}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{252,110}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{252,110}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1250},{256,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{256,108}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1360},{254,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{254,112}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_airup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1115},{256,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sum_1600_weaponlight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,876},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>summoner_1600_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1474},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1600_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,992},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>summoner_1600_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1600_dirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{284,102}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{284,102}}</string>
                <key>sourceSize</key>
                <string>{284,160}</string>
            </dict>
            <key>summoner_1600_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1600_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,992},{128,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,121}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>summoner_1600_js01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{993,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,735}}</string>
                <key>sourceSize</key>
                <string>{993,735}</string>
            </dict>
            <key>summoner_1600_js02.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,739},{251,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,190}}</string>
                <key>sourceSize</key>
                <string>{251,190}</string>
            </dict>
            <key>summoner_1600_swordlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{827,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,135}}</string>
                <key>sourceSize</key>
                <string>{827,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1600_Ult.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c0674a5aa2704d1fbc903442661330$</string>
            <key>textureFileName</key>
            <string>hero_1600_Ult.png</string>
        </dict>
    </dict>
</plist>
