<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_Add_trailing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,496},{10,15}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,96},{10,15}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,124},{24,23}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,92},{24,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,455},{38,23}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,92},{38,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,202},{52,23}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,92},{52,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,400},{60,31}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,84},{60,31}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,464},{62,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{62,43}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,443},{62,57}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,57},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,252},{64,71}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,325},{52,83}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{52,83}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,353},{40,95}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{40,95}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,484},{26,105}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,105}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{40,99}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,377},{52,85}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,85}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,261},{62,71}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,334},{62,57}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,393},{60,43}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,43}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,256},{58,29}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,29}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,316},{50,21}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{50,21}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,462},{38,19}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{38,19}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,464},{24,13}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{24,13}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Add_trailing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,368},{10,11}}</string>
                <key>offset</key>
                <string>{27,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,5},{10,11}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,484},{10,15}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,96},{10,15}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,99},{24,23}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,92},{24,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,177},{38,23}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,92},{38,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,386},{50,23}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,92},{50,23}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,410},{60,31}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,84},{60,31}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,400},{62,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,71},{62,43}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,202},{62,57}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,57},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,327},{62,71}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,117},{52,83}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{52,83}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{40,95}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{40,95}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,377},{26,105}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,105}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,377},{40,99}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,117},{52,85}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,85}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,263},{62,71}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,204},{62,57}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,57}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,450},{60,43}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,43}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,117},{58,29}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,29}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,334},{50,21}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{50,21}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,455},{36,19}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{36,19}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,149},{24,13}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{24,13}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_Minus_trailing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,164},{10,11}}</string>
                <key>offset</key>
                <string>{27,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,5},{10,11}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>fight_blister_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,127},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,252},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{113,113}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{113,113}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,127},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>fight_blister_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,123}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blister.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce346070206be8205d16f844d538d4b$</string>
            <key>textureFileName</key>
            <string>blister.png</string>
        </dict>
    </dict>
</plist>
