<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firstrcharge_award_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>firstrcharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{883,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{883,530}}</string>
                <key>sourceSize</key>
                <string>{883,530}</string>
            </dict>
            <key>firstrcharge_close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>operate_DiamondsReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,578},{600,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,310}}</string>
                <key>sourceSize</key>
                <string>{600,310}</string>
            </dict>
            <key>operate_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1184},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_condition.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1184},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_condition2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1184},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_diamend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_firstcharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_fund.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,578},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_lifecard_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,290},{286,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,407}}</string>
                <key>sourceSize</key>
                <string>{286,407}</string>
            </dict>
            <key>operate_mouthcard_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,2},{286,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,407}}</string>
                <key>sourceSize</key>
                <string>{286,407}</string>
            </dict>
            <key>operate_newyear_db1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,488},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_newyear_db2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,326},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_newyear_db3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,164},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
            <key>operate_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{604,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,160}}</string>
                <key>sourceSize</key>
                <string>{604,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operate.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc20026aeeaf311909ad3b2a6aee474$</string>
            <key>textureFileName</key>
            <string>operate.png</string>
        </dict>
    </dict>
</plist>
