<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChangeNameTitlebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,558},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>exam_bg_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,296},{357,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,151}}</string>
                <key>sourceSize</key>
                <string>{357,151}</string>
            </dict>
            <key>exam_bg_far2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,417},{21,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,74}}</string>
                <key>sourceSize</key>
                <string>{21,74}</string>
            </dict>
            <key>exam_bg_far3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,493},{123,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,65}</string>
            </dict>
            <key>exam_bg_far4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,553},{125,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,67}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>exam_bg_far5.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,861},{27,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,74}}</string>
                <key>sourceSize</key>
                <string>{27,74}</string>
            </dict>
            <key>exam_carpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,487},{79,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,141}}</string>
                <key>sourceSize</key>
                <string>{79,141}</string>
            </dict>
            <key>exam_carpet_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,622},{79,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,14}}</string>
                <key>sourceSize</key>
                <string>{79,14}</string>
            </dict>
            <key>exam_far_fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,487},{178,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{178,80}</string>
            </dict>
            <key>exam_fight_floor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,758},{135,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,94}}</string>
                <key>sourceSize</key>
                <string>{135,94}</string>
            </dict>
            <key>exam_fight_floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,199},{370,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,95}}</string>
                <key>sourceSize</key>
                <string>{370,95}</string>
            </dict>
            <key>exam_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,449},{65,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,130}}</string>
                <key>sourceSize</key>
                <string>{67,130}</string>
            </dict>
            <key>exam_flag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,622},{77,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{77,130}</string>
            </dict>
            <key>exam_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,449},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,630},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,449},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,449},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,630},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,368},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>exam_flag_gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,199},{4,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,39}}</string>
                <key>sourceSize</key>
                <string>{4,39}</string>
            </dict>
            <key>exam_flalg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,467},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>exam_flalg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,115},{79,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,117}}</string>
                <key>sourceSize</key>
                <string>{79,117}</string>
            </dict>
            <key>exam_flalg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,706},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>exam_flalg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,493},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{36,59}</string>
            </dict>
            <key>exam_flalg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,558},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>exam_floorshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,124},{142,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,19}}</string>
                <key>sourceSize</key>
                <string>{142,19}</string>
            </dict>
            <key>exam_flowerbeds.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,649},{105,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{105,88}</string>
            </dict>
            <key>exam_flystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,758},{150,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,13}}</string>
                <key>sourceSize</key>
                <string>{150,13}</string>
            </dict>
            <key>exam_ironchain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,569},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>exam_ironchain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,466},{209,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,43}}</string>
                <key>sourceSize</key>
                <string>{209,43}</string>
            </dict>
            <key>exam_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,267},{284,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>exam_mid_build1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,428},{57,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,263}}</string>
                <key>sourceSize</key>
                <string>{57,263}</string>
            </dict>
            <key>exam_mid_build2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,88},{278,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,285}}</string>
                <key>sourceSize</key>
                <string>{278,285}</string>
            </dict>
            <key>exam_mid_build3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,601},{103,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,158}}</string>
                <key>sourceSize</key>
                <string>{103,158}</string>
            </dict>
            <key>exam_mid_build4.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,368},{58,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,264}}</string>
                <key>sourceSize</key>
                <string>{58,264}</string>
            </dict>
            <key>exam_mid_fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,890},{94,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,890},{94,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,758},{94,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,758},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,758},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,895},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,449},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,449},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,910},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_mid_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,608},{94,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>exam_near.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,199},{357,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,110}}</string>
                <key>sourceSize</key>
                <string>{357,110}</string>
            </dict>
            <key>exam_railing_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{594,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,38}}</string>
                <key>sourceSize</key>
                <string>{594,38}</string>
            </dict>
            <key>exam_railing_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,196},{116,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,69}}</string>
                <key>sourceSize</key>
                <string>{116,69}</string>
            </dict>
            <key>exam_railing_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,516},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>exam_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{711,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,111}}</string>
                <key>sourceSize</key>
                <string>{711,111}</string>
            </dict>
            <key>exam_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,558},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>exam_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,115},{491,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,82}}</string>
                <key>sourceSize</key>
                <string>{491,82}</string>
            </dict>
            <key>exam_views.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{289,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,84}}</string>
                <key>sourceSize</key>
                <string>{289,84}</string>
            </dict>
            <key>flag_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{96,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,246}}</string>
                <key>sourceSize</key>
                <string>{96,246}</string>
            </dict>
            <key>viewer1_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,998},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>viewer1_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,861},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>viewer1_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,296},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>viewer1_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,423},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>viewer2_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,363},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>viewer2_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,516},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>viewer2_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,706},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>viewer3_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,706},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>viewer3_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,470},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>viewer3_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{16,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{16,45}</string>
            </dict>
            <key>viewer3_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>viewer4_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,361},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>viewer4_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,467},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>viewer4_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,89},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>viewer4_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,268},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>viewer4_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,558},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>viewer5_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,601},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>viewer5_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,449},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>viewer5_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,998},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>viewer5_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,706},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>viewer6_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,387},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>viewer6_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,467},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{24,52}</string>
            </dict>
            <key>viewer7_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,677},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>viewer7_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,498},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>viewer7_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,710},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>viewer8_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,558},{37,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,67}}</string>
                <key>sourceSize</key>
                <string>{37,67}</string>
            </dict>
            <key>viewer8_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,316},{17,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,43}}</string>
                <key>sourceSize</key>
                <string>{17,43}</string>
            </dict>
            <key>viewer8_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,386},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>viewer9_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,622},{37,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,78}}</string>
                <key>sourceSize</key>
                <string>{37,78}</string>
            </dict>
            <key>viewer9_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,49},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exam_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a4c8fabff65ddbab0602802c6e64ffe$</string>
            <key>textureFileName</key>
            <string>exam_bg.png</string>
        </dict>
    </dict>
</plist>
