<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sum_1400_lightning_strike3_ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sum_1400_lightning_strike3_ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1047},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sum_1400_lightning_strike3_ball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1014},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>summoner_1400_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1400_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,962},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>summoner_1400_js01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{997,636}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{997,636}}</string>
                <key>sourceSize</key>
                <string>{997,640}</string>
            </dict>
            <key>summoner_1400_js02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,962},{60,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,83}</string>
            </dict>
            <key>summoner_1400_js03.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,640},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{158,160}</string>
            </dict>
            <key>summoner_1400_js04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1124},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>summoner_1400_js05.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,640},{289,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,168}}</string>
                <key>sourceSize</key>
                <string>{289,168}</string>
            </dict>
            <key>summoner_1400_lightning00.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,972},{284,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,160}}</string>
                <key>sourceSize</key>
                <string>{284,160}</string>
            </dict>
            <key>summoner_1400_lightning01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{284,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,160}}</string>
                <key>sourceSize</key>
                <string>{284,160}</string>
            </dict>
            <key>summoner_1400_lightning02.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,941},{284,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,160}}</string>
                <key>sourceSize</key>
                <string>{284,160}</string>
            </dict>
            <key>summoner_1400_lightning03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,810},{284,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,160}}</string>
                <key>sourceSize</key>
                <string>{284,160}</string>
            </dict>
            <key>summoner_1400_screnn_light_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,802},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1400_Ult.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:059c54236e7dd1604eddf2178bc2dfb2$</string>
            <key>textureFileName</key>
            <string>hero_1400_Ult.png</string>
        </dict>
    </dict>
</plist>
