<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lockbox_edge_ray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,703},{174,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,138}}</string>
                <key>sourceSize</key>
                <string>{174,138}</string>
            </dict>
            <key>luckbox_bodyl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,260},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>luckbox_bodyl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{37,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,81}}</string>
                <key>sourceSize</key>
                <string>{37,81}</string>
            </dict>
            <key>luckbox_bodyl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,595},{45,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,69}}</string>
                <key>sourceSize</key>
                <string>{45,69}</string>
            </dict>
            <key>luckbox_bodyl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,822},{69,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>luckbox_bodyl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,259},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>luckbox_bodyl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,497},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>luckbox_bodyr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,379},{88,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,116}}</string>
                <key>sourceSize</key>
                <string>{92,116}</string>
            </dict>
            <key>luckbox_bodyr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,697},{35,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,73}}</string>
                <key>sourceSize</key>
                <string>{35,73}</string>
            </dict>
            <key>luckbox_bodyr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,134},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>luckbox_bodyr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,106},{66,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,101}}</string>
                <key>sourceSize</key>
                <string>{66,101}</string>
            </dict>
            <key>luckbox_bodyr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,584},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>luckbox_bodyr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>luckbox_boom_brick_f_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,360},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,895},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,699},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,701},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,476},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,368},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,487},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,807},{80,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,260},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,106},{80,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,379},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,809},{80,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_f_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{80,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>luckbox_boom_brick_t_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,879},{44,15}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{44,15}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,879},{48,13}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{48,13}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,389},{48,43}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{48,43}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{50,45}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{50,45}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,197},{52,45}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{52,45}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,201},{52,47}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{48,45}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{48,45}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,201},{52,47}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,54},{48,47}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{48,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,420},{52,47}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,151},{48,47}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{48,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,68},{50,47}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{50,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,595},{46,47}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{46,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,201},{54,47}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boom_brick_t_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,201},{54,47}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{54,47}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>luckbox_boomfire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,862},{8,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{8,8}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,879},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,39},{14,12}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,879},{20,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,36},{20,18}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,834},{28,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,31},{28,26}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,602},{40,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,24},{40,38}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,702},{130,54}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,26},{130,54}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,260},{98,44}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{98,44}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,475},{78,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,24},{78,48}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,702},{118,36}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{118,36}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_boomfire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,879},{16,14}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,47},{16,14}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>luckbox_brick_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,120},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>luckbox_brick_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,151},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>luckbox_brick_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,553},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>luckbox_brick_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,209},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>luckbox_brick_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,209},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>luckbox_brick_tbm.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,809},{62,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,11}}</string>
                <key>sourceSize</key>
                <string>{62,11}</string>
            </dict>
            <key>luckbox_brick_tl.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,84},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>luckbox_brick_tr.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,643},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>luckbox_circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,555},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>luckbox_circle_1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,555},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>luckbox_circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,583},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>luckbox_circle_2_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,202},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>luckbox_circle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,341},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{76,77}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>luckbox_circle_3_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,474},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{76,77}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>luckbox_circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,893},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{102,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>luckbox_circle_4_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,896},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>luckbox_gem_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,644},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>luckbox_gem_voilet.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,879},{18,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>luckbox_gold_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{194,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,32}}</string>
                <key>sourceSize</key>
                <string>{194,32}</string>
            </dict>
            <key>luckbox_gold_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,442},{30,54}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,96}</string>
            </dict>
            <key>luckbox_gold_rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,834},{30,60}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,96}</string>
            </dict>
            <key>luckbox_gold_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,475},{80,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>luckbox_gold_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{204,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,60}}</string>
                <key>sourceSize</key>
                <string>{204,60}</string>
            </dict>
            <key>luckbox_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,896},{126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>luckbox_key_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,643},{131,57}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_key_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,260},{117,57}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_key_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,642},{91,55}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{91,55}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_key_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,642},{59,57}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_key_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,442},{31,55}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{31,55}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_key_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,640},{55,29}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{55,29}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>luckbox_lock_gold_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,257},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>luckbox_lock_gold_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>ui_luckbox_boomray2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{235,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{235,74}}</string>
                <key>sourceSize</key>
                <string>{237,80}</string>
            </dict>
            <key>ui_luckbox_boomray_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_luckbox_shandian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,255},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,323},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,135},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,257},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_luckbox_shandian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,69},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_luckbox.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8f8fcffa5e72fc4d624969456eee78$</string>
            <key>textureFileName</key>
            <string>ui_luckbox.png</string>
        </dict>
    </dict>
</plist>
