<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretbuilding_firelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,797},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>secretbuilding_firetorch_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,643},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>secretbuilding_firetorch_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,643},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>secretbuilding_floor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{516,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,328}}</string>
                <key>sourceSize</key>
                <string>{516,328}</string>
            </dict>
            <key>secretbuilding_floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{331,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,328}}</string>
                <key>sourceSize</key>
                <string>{331,328}</string>
            </dict>
            <key>secretbuilding_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,520},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>secretbuilding_gemlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,944},{74,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>secretbuilding_gemlight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,888},{133,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{135,111}</string>
            </dict>
            <key>secretbuilding_grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,966},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>secretbuilding_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,643},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>secretbuilding_grass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,966},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>secretbuilding_grass4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{283,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,51}}</string>
                <key>sourceSize</key>
                <string>{283,51}</string>
            </dict>
            <key>secretbuilding_mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,692},{250,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,74}}</string>
                <key>sourceSize</key>
                <string>{250,76}</string>
            </dict>
            <key>secretbuilding_near.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{625,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,121}}</string>
                <key>sourceSize</key>
                <string>{625,121}</string>
            </dict>
            <key>secretbuilding_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,692},{98,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,272}}</string>
                <key>sourceSize</key>
                <string>{98,272}</string>
            </dict>
            <key>secretbuilding_pillar_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,496},{194,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,52}}</string>
                <key>sourceSize</key>
                <string>{194,52}</string>
            </dict>
            <key>secretbuilding_pillar_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,287},{207,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,51}}</string>
                <key>sourceSize</key>
                <string>{207,51}</string>
            </dict>
            <key>secretbuilding_statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,643},{107,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,243}}</string>
                <key>sourceSize</key>
                <string>{107,243}</string>
            </dict>
            <key>secretbuilding_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,888},{149,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,68}}</string>
                <key>sourceSize</key>
                <string>{149,68}</string>
            </dict>
            <key>secretbuilding_stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,383},{215,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,88}}</string>
                <key>sourceSize</key>
                <string>{215,88}</string>
            </dict>
            <key>secretbuilding_stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{391,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,135}}</string>
                <key>sourceSize</key>
                <string>{391,135}</string>
            </dict>
            <key>secretbuilding_torch_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,966},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>secretbulding_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,520},{165,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,145}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>seretbuilding_farbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,271}}</string>
                <key>sourceSize</key>
                <string>{630,271}</string>
            </dict>
            <key>seretbuilding_floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{630,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,106}}</string>
                <key>sourceSize</key>
                <string>{630,106}</string>
            </dict>
            <key>seretbuilding_rune1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,643},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>seretbuilding_rune2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{32,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,105}}</string>
                <key>sourceSize</key>
                <string>{32,105}</string>
            </dict>
            <key>seretbuilding_rune3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,643},{32,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,101}}</string>
                <key>sourceSize</key>
                <string>{32,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretbuilding_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b7c5cabb386b24b7482e2767e49376$</string>
            <key>textureFileName</key>
            <string>secretbuilding_bg.png</string>
        </dict>
    </dict>
</plist>
