<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>failurelight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,130},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>failurelight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>failurelight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,64},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>failurelight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,196},{64,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,162}}</string>
                <key>sourceSize</key>
                <string>{64,162}</string>
            </dict>
            <key>settlement_blink_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,60},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>settlement_light_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,272},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>settlement_light_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>settlement_lighting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,22},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>settlement_lighting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,359},{203,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,74}}</string>
                <key>sourceSize</key>
                <string>{203,74}</string>
            </dict>
            <key>settlement_lighting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,22},{263,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,82}}</string>
                <key>sourceSize</key>
                <string>{263,82}</string>
            </dict>
            <key>settlement_lighting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,64},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>settlement_lighting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,360},{131,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,63}}</string>
                <key>sourceSize</key>
                <string>{131,63}</string>
            </dict>
            <key>settlement_lighting6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{264,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,55}}</string>
                <key>sourceSize</key>
                <string>{264,55}</string>
            </dict>
            <key>settlement_line_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{366,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,18}}</string>
                <key>sourceSize</key>
                <string>{366,18}</string>
            </dict>
            <key>settlement_line_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,60}}</string>
                <key>sourceSize</key>
                <string>{643,60}</string>
            </dict>
            <key>settlement_star_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,369},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>shield_dogfall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,477},{186,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,201}}</string>
                <key>sourceSize</key>
                <string>{188,201}</string>
            </dict>
            <key>shield_dogfall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,108},{162,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,228}}</string>
                <key>sourceSize</key>
                <string>{162,228}</string>
            </dict>
            <key>shield_failure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,196},{171,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,226}}</string>
                <key>sourceSize</key>
                <string>{171,226}</string>
            </dict>
            <key>shield_failure_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,479},{123,155}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,155}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>shield_failure_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,271},{78,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>shield_failure_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,41},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>shield_failure_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,243},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>shield_failure_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,228},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>shield_failure_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,95},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>shield_failure_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,22},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>shield_failure_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,64},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>shield_failure_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,122},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>shield_failure_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,88},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>shield_failure_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,212},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shield_failure_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,195},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>shield_failure_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,148},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>shield_failure_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,109},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>shield_failure_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,165},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>shield_failure_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,317},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>shield_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,287},{188,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,201}}</string>
                <key>sourceSize</key>
                <string>{188,201}</string>
            </dict>
            <key>shield_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{162,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,228}}</string>
                <key>sourceSize</key>
                <string>{162,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settlement_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f28c331c98d868bc61ce32a64770e2$</string>
            <key>textureFileName</key>
            <string>settlement_effect.png</string>
        </dict>
    </dict>
</plist>
