<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_site_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{347,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,143}}</string>
                <key>sourceSize</key>
                <string>{347,143}</string>
            </dict>
            <key>stage_site_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{347,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,143}}</string>
                <key>sourceSize</key>
                <string>{347,143}</string>
            </dict>
            <key>stage_site_c_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,840},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>stage_site_fg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,355},{210,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,50}}</string>
                <key>sourceSize</key>
                <string>{210,50}</string>
            </dict>
            <key>stage_site_plant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,952},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>stage_site_plant_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,584},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>stage_site_plant_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,783},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>stage_site_plant_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,783},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>stage_site_plant_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,956},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>stage_site_plant_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,285},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,56}</string>
            </dict>
            <key>stage_site_plant_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,474},{145,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,99}}</string>
                <key>sourceSize</key>
                <string>{145,101}</string>
            </dict>
            <key>stage_site_plant_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,430},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
            <key>stage_site_plant_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,840},{114,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,83}}</string>
                <key>sourceSize</key>
                <string>{114,83}</string>
            </dict>
            <key>stage_site_plant_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,407},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>stage_site_plant_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,850},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>stage_site_plant_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,932},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>stage_site_plant_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,545},{101,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>stage_site_plant_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,704},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>stage_site_plant_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,783},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>stage_site_plant_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,840},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>stage_site_plant_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,956},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>stage_site_plant_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,621},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>stage_site_plant_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,777},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>stage_site_plant_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,850},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>stage_site_plant_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,840},{90,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,68}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>stage_site_plant_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,847},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>stage_site_plant_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,850},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>stage_site_plant_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,662},{91,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,55}}</string>
                <key>sourceSize</key>
                <string>{91,55}</string>
            </dict>
            <key>stage_site_plant_2501.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,928},{56,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>stage_site_plant_2502.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,719},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>stage_site_plant_2503.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,646},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>stage_site_plant_2504.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,545},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>stage_site_plant_2505.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,589},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>stage_site_plant_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,719},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>stage_site_plant_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,479},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>stage_site_plant_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,796},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>stage_site_plant_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,783},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>stage_site_plant_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,932},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>stage_site_plant_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,789},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>stage_site_plant_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,719},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>stage_site_plant_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,355},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>stage_site_plant_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,561},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>stage_site_plant_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,783},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>stage_site_plant_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,481},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>stage_site_plant_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,518},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>stage_site_plant_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,545},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>stage_site_plant_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,989},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>stage_site_plant_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,605},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>stage_site_plant_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,998},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>stage_site_plant_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,847},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>stage_site_plant_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,748},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>stage_site_road_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{371,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,343}}</string>
                <key>sourceSize</key>
                <string>{371,343}</string>
            </dict>
            <key>stage_site_road_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>stage_site_road_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,932},{87,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>stage_site_road_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,114},{169,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,56}}</string>
                <key>sourceSize</key>
                <string>{169,56}</string>
            </dict>
            <key>stage_site_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,849},{22,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,77}}</string>
                <key>sourceSize</key>
                <string>{22,77}</string>
            </dict>
            <key>stage_site_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,703},{24,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,123}}</string>
                <key>sourceSize</key>
                <string>{24,123}</string>
            </dict>
            <key>stage_site_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,796},{35,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,88}}</string>
                <key>sourceSize</key>
                <string>{35,88}</string>
            </dict>
            <key>stage_site_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,796},{52,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>stage_site_tree_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,728},{53,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,97}}</string>
                <key>sourceSize</key>
                <string>{53,97}</string>
            </dict>
            <key>stage_site_tree_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,840},{24,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,93}}</string>
                <key>sourceSize</key>
                <string>{24,93}</string>
            </dict>
            <key>stage_site_tree_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,931},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>stage_site_tree_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,952},{70,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>stage_site_tree_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,925},{71,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
            <key>stage_site_tree_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,404},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>stage_site_tree_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,527},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>stage_site_tree_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,849},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>stage_site_tree_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,154},{61,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,229}}</string>
                <key>sourceSize</key>
                <string>{61,229}</string>
            </dict>
            <key>stage_site_tree_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,217},{136,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,227}}</string>
                <key>sourceSize</key>
                <string>{136,227}</string>
            </dict>
            <key>stage_site_tree_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,705},{76,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,195}}</string>
                <key>sourceSize</key>
                <string>{76,195}</string>
            </dict>
            <key>stage_site_tree_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,555},{58,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,162}}</string>
                <key>sourceSize</key>
                <string>{58,162}</string>
            </dict>
            <key>stage_site_tree_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,347},{271,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,115}}</string>
                <key>sourceSize</key>
                <string>{271,115}</string>
            </dict>
            <key>stage_site_tree_17a.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,464},{270,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,139}}</string>
                <key>sourceSize</key>
                <string>{270,139}</string>
            </dict>
            <key>stage_site_tree_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,519},{197,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,184}}</string>
                <key>sourceSize</key>
                <string>{197,184}</string>
            </dict>
            <key>stage_site_tree_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{141,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,115}}</string>
                <key>sourceSize</key>
                <string>{141,115}</string>
            </dict>
            <key>stage_site_tree_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,407},{204,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,110}}</string>
                <key>sourceSize</key>
                <string>{204,110}</string>
            </dict>
            <key>stage_site_tree_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{235,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,150}}</string>
                <key>sourceSize</key>
                <string>{235,150}</string>
            </dict>
            <key>stage_site_tree_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{188,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,177}}</string>
                <key>sourceSize</key>
                <string>{188,177}</string>
            </dict>
            <key>stage_site_tree_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{299,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,139}}</string>
                <key>sourceSize</key>
                <string>{299,139}</string>
            </dict>
            <key>stage_site_tree_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,919},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>stage_site_tree_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,491},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>stage_site_tree_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,932},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>stage_site_tree_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,347},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>stage_site_tree_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,828},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>stage_site_tree_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,648},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>stage_site_tree_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,648},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>stage_site_tree_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,401},{28,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>stage_site_tree_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,673},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>stage_site_tree_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,446},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>stage_site_tree_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,605},{243,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,189}}</string>
                <key>sourceSize</key>
                <string>{243,189}</string>
            </dict>
            <key>stage_site_tree_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,673},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>stage_site_waterpond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,110}}</string>
                <key>sourceSize</key>
                <string>{405,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>site_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae25d7cc956592cdfc022291d8a584c4$</string>
            <key>textureFileName</key>
            <string>site_bg.png</string>
        </dict>
    </dict>
</plist>
