<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonnest_bg_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{487,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,124}}</string>
                <key>sourceSize</key>
                <string>{487,124}</string>
            </dict>
            <key>dragonnest_bg_mid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,311}}</string>
                <key>sourceSize</key>
                <string>{684,311}</string>
            </dict>
            <key>dragonnest_bg_mid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{497,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,242}}</string>
                <key>sourceSize</key>
                <string>{497,242}</string>
            </dict>
            <key>dragonnest_bg_mid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{420,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,187}}</string>
                <key>sourceSize</key>
                <string>{420,187}</string>
            </dict>
            <key>dragonnest_bg_near.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{630,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,119}}</string>
                <key>sourceSize</key>
                <string>{630,119}</string>
            </dict>
            <key>dragonnest_bluelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,315},{139,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>dragonnest_bone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,424},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>dragonnest_bone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,856},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>dragonnest_bone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,928},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>dragonnest_bone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,315},{288,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,177}}</string>
                <key>sourceSize</key>
                <string>{288,177}</string>
            </dict>
            <key>dragonnest_fightfloor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{458,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,303}}</string>
                <key>sourceSize</key>
                <string>{458,303}</string>
            </dict>
            <key>dragonnest_fightfloor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,424},{460,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,104}}</string>
                <key>sourceSize</key>
                <string>{460,104}</string>
            </dict>
            <key>dragonnest_fightfloor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,491},{221,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,81}}</string>
                <key>sourceSize</key>
                <string>{221,81}</string>
            </dict>
            <key>dragonnest_fightfloor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,491},{442,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,80}}</string>
                <key>sourceSize</key>
                <string>{442,80}</string>
            </dict>
            <key>dragonnest_stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,491},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>dragonnest_stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{31,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,68}}</string>
                <key>sourceSize</key>
                <string>{31,68}</string>
            </dict>
            <key>dragonnest_stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>dragonnest_stone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,532},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>dragonnest_stonehill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,605},{205,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,249}}</string>
                <key>sourceSize</key>
                <string>{205,249}</string>
            </dict>
            <key>dragonnest_stonehill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,714},{75,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,100}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>dragonnest_stonehill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,456},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>sunlight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,816},{56,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,117}}</string>
                <key>sourceSize</key>
                <string>{56,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonnest_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf19ae6f8ae3970132b85af6c70ff747$</string>
            <key>textureFileName</key>
            <string>dragonnest_bg.png</string>
        </dict>
    </dict>
</plist>
