<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildmap_Ursula.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{682,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,441}}</string>
                <key>sourceSize</key>
                <string>{682,441}</string>
            </dict>
            <key>guildmap_elfking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,187},{682,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,441}}</string>
                <key>sourceSize</key>
                <string>{682,441}</string>
            </dict>
            <key>t_map_darkforest1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{684,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,391}}</string>
                <key>sourceSize</key>
                <string>{684,391}</string>
            </dict>
            <key>t_map_darkforest1_obj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,871},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>t_map_darkforest1_obj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,871},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>t_map_darkforest1_obj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,982},{400,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,251}}</string>
                <key>sourceSize</key>
                <string>{400,251}</string>
            </dict>
            <key>t_map_darkforest1_obj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,838},{170,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,137}}</string>
                <key>sourceSize</key>
                <string>{170,137}</string>
            </dict>
            <key>t_map_darkforest1_obj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>t_map_darkforest1_obj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1157},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>t_map_darkforest1_obj08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,871},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>t_map_darkforest1_obj09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,871},{103,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,73}}</string>
                <key>sourceSize</key>
                <string>{103,73}</string>
            </dict>
            <key>t_map_darkforest1_obj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1382},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>t_map_darkforest1_obj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1888},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>t_map_darkforest1_obj12.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1468},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>t_map_darkforest1_obj13.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,838},{135,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,134}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>t_map_darkforest1_obj14.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1864},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>t_map_darkforest1_obj15.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1384},{159,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,113}}</string>
                <key>sourceSize</key>
                <string>{159,113}</string>
            </dict>
            <key>t_map_darkforest1_obj16.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1749},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>t_map_darkforest1_obj17.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1545},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>t_map_darkforest1_obj18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1969},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>t_map_darkforest1_obj19.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,838},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>t_map_darkforest1_obj20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,464},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>t_map_darkforest1_obj21.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1920},{126,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>t_map_darkforest1_plant01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,941},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>t_map_darkforest1_plant02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1347},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>t_map_darkforest1_plant03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,982},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>t_map_darkforest1_plant04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,787},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>t_map_darkforest1_tree00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,440},{392,200}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,200}}</string>
                <key>sourceSize</key>
                <string>{436,200}</string>
            </dict>
            <key>t_map_darkforest1_tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1920},{192,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>t_map_darkforest1_tree01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1864},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>t_map_darkforest1_tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1633},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>t_map_darkforest1_tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,871},{62,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,105}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>t_map_darkforest1_tree04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1168},{45,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,90}}</string>
                <key>sourceSize</key>
                <string>{45,90}</string>
            </dict>
            <key>t_map_darkforest1_tree05.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1636},{250,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,166}}</string>
                <key>sourceSize</key>
                <string>{250,166}</string>
            </dict>
            <key>t_map_forest1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,871},{29,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,100}}</string>
                <key>sourceSize</key>
                <string>{29,100}</string>
            </dict>
            <key>t_map_forest1_1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,395},{683,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,390}}</string>
                <key>sourceSize</key>
                <string>{683,390}</string>
            </dict>
            <key>t_map_forest1_1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{683,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,390}}</string>
                <key>sourceSize</key>
                <string>{683,390}</string>
            </dict>
            <key>t_map_forest1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,391}}</string>
                <key>sourceSize</key>
                <string>{684,391}</string>
            </dict>
            <key>t_map_forest1_obj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,871},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>t_map_forest1_obj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,871},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>t_map_forest1_obj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1545},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>t_map_forest1_obj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1667},{400,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,251}}</string>
                <key>sourceSize</key>
                <string>{400,251}</string>
            </dict>
            <key>t_map_forest1_obj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{453,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,183}}</string>
                <key>sourceSize</key>
                <string>{453,183}</string>
            </dict>
            <key>t_map_forest1_obj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,927},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>t_map_forest1_obj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,834},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>t_map_forest1_obj08.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1542},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>t_map_forest1_obj09.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,838},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>t_map_forest1_obj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,535},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>t_map_forest1_obj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2004},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>t_map_forest1_obj12.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1221},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>t_map_forest1_obj13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>t_map_forest1_obj14.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1468},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>t_map_forest1_obj15.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1260},{85,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>t_map_forest1_obj16.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,982},{92,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>t_map_forest1_obj17.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1920},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>t_map_forest1_obj18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1963},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>t_map_forest1_obj19.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1964},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>t_map_forest1_obj20.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2004},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>t_map_forest1_obj21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,488},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>t_map_forest1_obj22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,440},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>t_map_forest1_obj23.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1539},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>t_map_forest1_obj24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{300,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,128}}</string>
                <key>sourceSize</key>
                <string>{300,128}</string>
            </dict>
            <key>t_map_forest1_plant01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,900},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>t_map_forest1_plant02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1920},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>t_map_forest1_plant03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1076},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>t_map_forest1_plant04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,787},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>t_map_forest1_tree00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{436,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,200}}</string>
                <key>sourceSize</key>
                <string>{436,200}</string>
            </dict>
            <key>t_map_forest1_tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,834},{192,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>t_map_forest1_tree01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1864},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>t_map_forest1_tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1888},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>t_map_forest1_tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{62,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,107}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>t_map_forest1_tree04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1076},{45,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,90}}</string>
                <key>sourceSize</key>
                <string>{45,90}</string>
            </dict>
            <key>t_map_forest1_tree05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1384},{250,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,166}}</string>
                <key>sourceSize</key>
                <string>{250,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskmap.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80db0832550bcdc8a71984f490ac8027$</string>
            <key>textureFileName</key>
            <string>taskmap.png</string>
        </dict>
    </dict>
</plist>
