<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summoner_1100_bg01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>summoner_1100_bg02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,637},{50,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,200}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>summoner_1100_buff01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{376,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,584}}</string>
                <key>sourceSize</key>
                <string>{376,584}</string>
            </dict>
            <key>summoner_1100_buff01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1193},{465,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,502}}</string>
                <key>sourceSize</key>
                <string>{465,502}</string>
            </dict>
            <key>summoner_1100_js01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1015},{176,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>summoner_1100_js01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{687,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,633}}</string>
                <key>sourceSize</key>
                <string>{687,633}</string>
            </dict>
            <key>summoner_1100_obj01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{524,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,238}}</string>
                <key>sourceSize</key>
                <string>{524,238}</string>
            </dict>
            <key>summoner_1100_obj01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{438,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,214}}</string>
                <key>sourceSize</key>
                <string>{438,214}</string>
            </dict>
            <key>summoner_1100_obj01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1471},{431,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,189}}</string>
                <key>sourceSize</key>
                <string>{431,189}</string>
            </dict>
            <key>summoner_1100_obj01d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1697},{257,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,379}}</string>
                <key>sourceSize</key>
                <string>{257,379}</string>
            </dict>
            <key>summoner_1100_snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_1100_Ult.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa6115c52aa80a306f52a87e2a80611$</string>
            <key>textureFileName</key>
            <string>hero_1100_Ult.png</string>
        </dict>
    </dict>
</plist>
