<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fight_Sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,681},{55,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,104}}</string>
                <key>sourceSize</key>
                <string>{55,104}</string>
            </dict>
            <key>exped_island_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,393},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>exped_island_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,371},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>exped_island_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,787},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>exped_island_s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,324},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>exped_island_s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,393},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>exped_island_s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,352},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>exped_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>exped_paper_reel.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{173,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,640}}</string>
                <key>sourceSize</key>
                <string>{173,640}</string>
            </dict>
            <key>exped_seawave.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,739},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>exped_southpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,915},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>expedmap_element1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,926},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>expedmap_element2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{242,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,261}}</string>
                <key>sourceSize</key>
                <string>{242,261}</string>
            </dict>
            <key>expedmap_element3.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,315},{133,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,180}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>expedmap_element4.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,169},{182,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,144}}</string>
                <key>sourceSize</key>
                <string>{182,144}</string>
            </dict>
            <key>expedmap_element5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{193,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,165}}</string>
                <key>sourceSize</key>
                <string>{193,165}</string>
            </dict>
            <key>expedmap_element6.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,919},{98,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,109}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>expedmap_element7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,592},{218,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,130}}</string>
                <key>sourceSize</key>
                <string>{218,130}</string>
            </dict>
            <key>expedmap_element8.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,644},{159,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,207}}</string>
                <key>sourceSize</key>
                <string>{159,207}</string>
            </dict>
            <key>expedmap_element9.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,324},{266,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,184}}</string>
                <key>sourceSize</key>
                <string>{266,184}</string>
            </dict>
            <key>expedmap_mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,509},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>expedmap_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,315},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>expedmap_mask3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,169},{169,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,128}}</string>
                <key>sourceSize</key>
                <string>{169,128}</string>
            </dict>
            <key>expedmap_mask4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{157,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,128}}</string>
                <key>sourceSize</key>
                <string>{157,128}</string>
            </dict>
            <key>expedmap_mask5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,639},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>expedmap_mask6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,805},{119,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,128}}</string>
                <key>sourceSize</key>
                <string>{119,128}</string>
            </dict>
            <key>expedmap_mask7.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,915},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>expedmap_mask8.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,902},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>fighting_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,926},{92,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,787},{92,86}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{92,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,299},{96,80}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{96,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,639},{98,82}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{98,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,926},{102,80}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{102,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,597},{82,86}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,467},{80,76}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{80,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,381},{84,86}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{84,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,497},{98,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{98,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,926},{104,96}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{104,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fighting_ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,789},{114,124}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{114,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guild_exped_taskbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,592},{332,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{332,112}}</string>
                <key>sourceSize</key>
                <string>{340,120}</string>
            </dict>
            <key>guild_exped_taskbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,568},{332,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{332,112}}</string>
                <key>sourceSize</key>
                <string>{340,120}</string>
            </dict>
            <key>guild_exped_taskbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{332,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,112}}</string>
                <key>sourceSize</key>
                <string>{332,112}</string>
            </dict>
            <key>guild_exped_taskboss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{137,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,112}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>guild_exped_taskboss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,812},{134,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,112}}</string>
                <key>sourceSize</key>
                <string>{134,112}</string>
            </dict>
            <key>guild_exped_taskboss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,805},{133,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,112}}</string>
                <key>sourceSize</key>
                <string>{133,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expedmap.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd787d2d0188641e7a46573e3aa76cf$</string>
            <key>textureFileName</key>
            <string>expedmap.png</string>
        </dict>
    </dict>
</plist>
