<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamehall_bg_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{627,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,387}}</string>
                <key>sourceSize</key>
                <string>{627,387}</string>
            </dict>
            <key>gamehall_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{363,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,640}}</string>
                <key>sourceSize</key>
                <string>{363,640}</string>
            </dict>
            <key>gamehall_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,759},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>gamehall_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,759},{541,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,89}}</string>
                <key>sourceSize</key>
                <string>{541,89}</string>
            </dict>
            <key>gamehall_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,716},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,698},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,752},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,734},{28,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,680},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,662},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_flag_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,644},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>gamehall_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1137,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,640}}</string>
                <key>sourceSize</key>
                <string>{1137,640}</string>
            </dict>
            <key>gamehall_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{345,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,113}}</string>
                <key>sourceSize</key>
                <string>{345,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamehall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d416bd040ad138db04231d53e86a6c5$</string>
            <key>textureFileName</key>
            <string>gamehall.png</string>
        </dict>
    </dict>
</plist>
