<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7day_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,81},{291,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,71}}</string>
                <key>sourceSize</key>
                <string>{291,71}</string>
            </dict>
            <key>Login_EnterText.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,207},{182,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,33}}</string>
                <key>sourceSize</key>
                <string>{182,33}</string>
            </dict>
            <key>arena_mathing_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{259,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,144}}</string>
                <key>sourceSize</key>
                <string>{259,144}</string>
            </dict>
            <key>drawcard_buytips_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{280,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,24}}</string>
                <key>sourceSize</key>
                <string>{280,24}</string>
            </dict>
            <key>drawcard_buytips_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,199},{211,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,56}}</string>
                <key>sourceSize</key>
                <string>{211,56}</string>
            </dict>
            <key>firstrcharge_TipsText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{461,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,109}}</string>
                <key>sourceSize</key>
                <string>{461,109}</string>
            </dict>
            <key>firstrcharge_TitleText.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{351,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,77}}</string>
                <key>sourceSize</key>
                <string>{351,77}</string>
            </dict>
            <key>font_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,510},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>font_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,359},{226,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,117}}</string>
                <key>sourceSize</key>
                <string>{226,117}</string>
            </dict>
            <key>font_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{226,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,117}}</string>
                <key>sourceSize</key>
                <string>{226,117}</string>
            </dict>
            <key>guild_nexttarget_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,242},{156,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,81}}</string>
                <key>sourceSize</key>
                <string>{156,81}</string>
            </dict>
            <key>guild_taskfail.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,402},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>hall_tex_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,510},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>latter_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,412},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>latter_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,218},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>latter_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,484},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>latter_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,474},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>latter_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,154},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>latter_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>latter_SSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,484},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>pub_zi_jingling.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,242},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>pub_zi_juren.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,378},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>pub_zi_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,381},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>pub_zi_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,359},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>pub_zi_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,285},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>pub_zi_siling.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,357},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>settlement_bar_changeequip.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,256},{203,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,252}}</string>
                <key>sourceSize</key>
                <string>{203,252}</string>
            </dict>
            <key>settlement_bar_changeset.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,154},{203,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,252}}</string>
                <key>sourceSize</key>
                <string>{203,252}</string>
            </dict>
            <key>settlement_bar_uphero.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{203,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,252}}</string>
                <key>sourceSize</key>
                <string>{203,252}</string>
            </dict>
            <key>settlement_tex_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,308},{47,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,21}</string>
            </dict>
            <key>settlement_tex_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,113},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>settlement_tex_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,420},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>settlement_text_dogfall.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,325},{145,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,75}}</string>
                <key>sourceSize</key>
                <string>{145,75}</string>
            </dict>
            <key>sweepover_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,280},{209,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,49}}</string>
                <key>sourceSize</key>
                <string>{209,49}</string>
            </dict>
            <key>task_tex_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,380},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>task_tex_ydc.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,442},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>text_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,140},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>text_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,81},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>upstarhigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{252,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,91}}</string>
                <key>sourceSize</key>
                <string>{252,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font_pic.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a77af6072d039a69cb349b61fd311b$</string>
            <key>textureFileName</key>
            <string>font_pic.png</string>
        </dict>
    </dict>
</plist>
