<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_chongjibo_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>UpLv_effect1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,139},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>UpLv_effect1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,488},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>UpLv_effect1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,740},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>UpLv_effect1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,740},{71,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,104}}</string>
                <key>sourceSize</key>
                <string>{71,104}</string>
            </dict>
            <key>UpLv_effect1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,488},{75,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,142}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>UpLv_effect1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,305},{79,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,142}</string>
            </dict>
            <key>UpLv_effect1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,161},{83,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,142}}</string>
                <key>sourceSize</key>
                <string>{83,142}</string>
            </dict>
            <key>UpLv_effect1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,142},{87,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,138}}</string>
                <key>sourceSize</key>
                <string>{87,138}</string>
            </dict>
            <key>UpLv_effect1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,305},{91,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,142}}</string>
                <key>sourceSize</key>
                <string>{91,142}</string>
            </dict>
            <key>UpLv_effect1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,145},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>UpLv_effect1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,287},{99,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,138}}</string>
                <key>sourceSize</key>
                <string>{99,138}</string>
            </dict>
            <key>UpLv_effect1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{105,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,138}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>UpLv_effect1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,427},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>UpLv_effect1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,686},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>UpLv_effect2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,230},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>UpLv_effect2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,686},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>UpLv_effect2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,810},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>UpLv_effect2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,282},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>UpLv_effect2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,449},{110,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,113}}</string>
                <key>sourceSize</key>
                <string>{110,113}</string>
            </dict>
            <key>UpLv_effect2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,449},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>UpLv_effect2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,557},{116,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,127}}</string>
                <key>sourceSize</key>
                <string>{116,127}</string>
            </dict>
            <key>UpLv_effect2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{124,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,135}</string>
            </dict>
            <key>UpLv_effect2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{134,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,141}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>UpLv_effect2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,161},{142,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,149}}</string>
                <key>sourceSize</key>
                <string>{142,149}</string>
            </dict>
            <key>UpLv_effect2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{152,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,157}}</string>
                <key>sourceSize</key>
                <string>{152,157}</string>
            </dict>
            <key>UpLv_effect2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,813},{160,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,165}}</string>
                <key>sourceSize</key>
                <string>{160,165}</string>
            </dict>
            <key>UpLv_effect2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,565},{162,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,173}}</string>
                <key>sourceSize</key>
                <string>{162,173}</string>
            </dict>
            <key>UpLv_effect2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{162,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,177}}</string>
                <key>sourceSize</key>
                <string>{162,177}</string>
            </dict>
            <key>UpLv_effect2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,309},{156,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,177}}</string>
                <key>sourceSize</key>
                <string>{156,177}</string>
            </dict>
            <key>UpLv_effect2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,819},{160,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,177}}</string>
                <key>sourceSize</key>
                <string>{160,177}</string>
            </dict>
            <key>effect_xuanwo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effet_fazhen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,305}}</string>
                <key>sourceSize</key>
                <string>{155,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UpLv_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4106b2270c88290c68793a8453d17fbe$</string>
            <key>textureFileName</key>
            <string>UpLv_effect.png</string>
        </dict>
    </dict>
</plist>
