<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SUlogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>loading_cloud13.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,492},{507,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,103}}</string>
                <key>sourceSize</key>
                <string>{507,103}</string>
            </dict>
            <key>loading_cloud14.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,492},{392,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,146}}</string>
                <key>sourceSize</key>
                <string>{392,146}</string>
            </dict>
            <key>loading_cloud_far1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1215},{183,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,80}}</string>
                <key>sourceSize</key>
                <string>{183,80}</string>
            </dict>
            <key>loading_cloud_far2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1677},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>loading_cloud_far3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1687},{234,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,138}}</string>
                <key>sourceSize</key>
                <string>{234,138}</string>
            </dict>
            <key>loading_cloud_far4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{315,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,131}}</string>
                <key>sourceSize</key>
                <string>{315,131}</string>
            </dict>
            <key>loading_cloud_far5.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1926},{192,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,113}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>loading_cloud_far6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,492},{628,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,96}}</string>
                <key>sourceSize</key>
                <string>{628,96}</string>
            </dict>
            <key>loading_coud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1677},{268,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,83}}</string>
                <key>sourceSize</key>
                <string>{268,83}</string>
            </dict>
            <key>loading_could_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1415},{192,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,89}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>loading_could_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1947},{232,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,99}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>loading_could_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,886},{169,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,153}}</string>
                <key>sourceSize</key>
                <string>{169,153}</string>
            </dict>
            <key>loading_effect_cameraray_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1140},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>loading_skybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{600,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,320}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>loading_skysity.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{488,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{488,306}}</string>
                <key>sourceSize</key>
                <string>{488,308}</string>
            </dict>
            <key>loading_skysity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1114},{126,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,169}}</string>
                <key>sourceSize</key>
                <string>{126,169}</string>
            </dict>
            <key>loading_skysity3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1677},{247,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,254}}</string>
                <key>sourceSize</key>
                <string>{247,254}</string>
            </dict>
            <key>loading_sunhalo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1462},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>loading_sunhalo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1285},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loading_sunhalo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{400,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,213}}</string>
                <key>sourceSize</key>
                <string>{400,213}</string>
            </dict>
            <key>login_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1041},{204,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,71}}</string>
                <key>sourceSize</key>
                <string>{204,71}</string>
            </dict>
            <key>login_button_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1041},{172,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,62}}</string>
                <key>sourceSize</key>
                <string>{172,62}</string>
            </dict>
            <key>login_button_mx.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,176},{172,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,62}}</string>
                <key>sourceSize</key>
                <string>{172,62}</string>
            </dict>
            <key>login_button_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{172,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,62}}</string>
                <key>sourceSize</key>
                <string>{172,62}</string>
            </dict>
            <key>login_online_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,419},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>login_online_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1609},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>login_online_Bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,350},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>sum_gamelogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{500,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,223}}</string>
                <key>sourceSize</key>
                <string>{500,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>l_login.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e08a89612080b4068f2c8bffea99ceb$</string>
            <key>textureFileName</key>
            <string>l_login.png</string>
        </dict>
    </dict>
</plist>
