<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cave_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,473},{469,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,208}}</string>
                <key>sourceSize</key>
                <string>{469,208}</string>
            </dict>
            <key>cave_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,268},{469,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,208}}</string>
                <key>sourceSize</key>
                <string>{469,208}</string>
            </dict>
            <key>cave_crystalight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,869},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>cave_crystalight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,739},{69,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,42}}</string>
                <key>sourceSize</key>
                <string>{73,44}</string>
            </dict>
            <key>cave_crystalight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,942},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>cave_crystalight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,869},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>cave_crystalight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,869},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>cave_crystalight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,810},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>cave_crystalight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,920},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>cave_crystalight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,942},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>cave_crystalight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,968},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>cave_crystalight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,942},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>cave_crystalight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,870},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>cave_crystalight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,869},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>cave_down_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,739},{222,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,28}}</string>
                <key>sourceSize</key>
                <string>{222,28}</string>
            </dict>
            <key>cave_far1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{469,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,264}}</string>
                <key>sourceSize</key>
                <string>{469,264}</string>
            </dict>
            <key>cave_far2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,264}}</string>
                <key>sourceSize</key>
                <string>{469,264}</string>
            </dict>
            <key>cave_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{938,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,225}}</string>
                <key>sourceSize</key>
                <string>{938,225}</string>
            </dict>
            <key>cave_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{634,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,245}}</string>
                <key>sourceSize</key>
                <string>{634,245}</string>
            </dict>
            <key>cave_mid_floor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,473},{215,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,93}}</string>
                <key>sourceSize</key>
                <string>{215,93}</string>
            </dict>
            <key>cave_mid_floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{389,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,89}}</string>
                <key>sourceSize</key>
                <string>{389,89}</string>
            </dict>
            <key>cave_starlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,739},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cave_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56db48d797ec4138ffbfcddc82c23b59$</string>
            <key>textureFileName</key>
            <string>cave_bg.png</string>
        </dict>
    </dict>
</plist>
